First let's import the necessary libraries

In [7]:
# import the necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Once done, in the next step, let's change the directory to the location where our datafile is located.

In [8]:
# set the environment
os.chdir = (r'C:\Users\Sushant\Downloads')

In the next step, let's load the Synergix dataset from the current working directory.

In [9]:
# read the dataset
df = pd.read_csv("Synergix_data_preprocessed_new.csv")
df.head()

,Page_traffic,Unit_price,Units_sold,Segment,1_Star_Rating,2_Star_Rating,3_Star_Rating,4_Star_Rating,5_Star_Rating,Image_Count,...,Sum of Spend,Online_Clicks,Online_Cost,Online_Impressions,num_unique_campaigns,Clicks_video,Cost_video,Impressions_video,num_unique_campaigns_offline,Units_sold>1000
0,5835.0,22.214389,2071,Skincare,99.0,72.0,194.0,453.0,3272.0,6.0,...,0.0,1271.0,3102.448115,238075.0,6.0,3479.0,40244.28,3856872.0,2.0,1
1,1881.0,11.870778,681,Skincare,118.0,73.0,200.0,430.0,3084.0,9.0,...,0.0,494.0,1723.716359,75868.0,2.0,0.0,0.00,0.0,0.0,0
2,2477.0,27.645714,875,Makeup,108.0,85.0,232.0,511.0,3402.0,10.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0
3,4087.0,16.896848,1396,Makeup,82.0,64.0,167.0,303.0,2058.0,5.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,1
4,1446.0,16.357664,822,Hair Care,29.0,24.0,88.0,200.0,1221.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,6024.0,77040.81,7539723.0,2.0,0

Next , we'll use the train_test_split function from sklearn.model_selection to split the dataset. First we'll Split the data into 70% training and 30% remaining (validation + test) for supervised learning, then Split the remaining data into two-third of validation and one-third for test.

At the end, we'll check the size of each dataset to ensure the split.

In [10]:
# import the train test split
from sklearn.model_selection import train_test_split

In [11]:
# split the data into train test and validation
X = df
# Split the data into 70% training and 30% remaining (validation + test) for unsupervised learning
train,remaining = train_test_split(X, test_size=0.3, random_state=42)

# Split the remaining data into validation and test sets for unsupervised learning
# two-thirds for validation and one-third for test from the remaining 30%
val, test = train_test_split(remaining, test_size=1/3, random_state=42)

# Checking the size of each dataset to ensure the split
len_train = len(train)
len_val = len(val)
len_test = len(test)

(len_train, len_val, len_test)

(13741, 3926, 1964)

With these steps, we have split the dataset into training, validation and testing datasets. Now, in the next step, letâ€™s save these datasets.

In [12]:
# Save the datasets to CSV files
train.to_csv("train.csv", index=False)
val.to_csv("validation.csv", index=False)
test.to_csv("test.csv", index=False)