In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
os.chdir = (r'C:\Users\Sushant\Downloads')

In the next step, let's load the Synergix dataset from the current working directory. We will be using the complete version of the dataset that we retained in the previous course of this program. This version contains the SKU_ID and the dates as well.

In [3]:
df = pd.read_csv("Synergix_data_fe_new.csv")
df.head()

,SKU_ID,Date,Page_traffic,Revenue($),Unit_price,Units_sold,Segment,1_Star_Rating,2_Star_Rating,3_Star_Rating,...,Sum of Spend,Online_Clicks,Online_Cost,Online_Impressions,num_unique_campaigns,Clicks_video,Cost_video,Impressions_video,num_unique_campaigns_offline,Units_sold>1000
0,SKU1539,09-04-2022,5835.0,46006,22.214389,2071,Skincare,99,72,194,...,0.0,1271,3102.448115,238075,6,3479,40244.28,3856872,2,1
1,SKU1431,08-05-2021,1881.0,8084,11.870778,681,Skincare,118,73,200,...,0.0,494,1723.716359,75868,2,0,0.00,0,0,0
2,SKU995,24-12-2022,2477.0,24190,27.645714,875,Makeup,108,85,232,...,0.0,0,0.000000,0,0,0,0.00,0,0,0
3,SKU1136,08-10-2022,4087.0,23588,16.896848,1396,Makeup,82,64,167,...,0.0,0,0.000000,0,0,0,0.00,0,0,1
4,SKU528,26-03-2022,1446.0,13446,16.357664,822,Hair Care,29,24,88,...,0.0,0,0.000000,0,0,6024,77040.81,7539723,2,0

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X = df
# Split the data into 70% training and 30% remaining (test) for supervised learning
train,remaining = train_test_split(X, test_size=0.3, random_state=42)

# Split the remaining data into validation and train sets for supervised learning
# two-thirds for train and one-third for validation
val, test = train_test_split(remaining, test_size=1/3, random_state=42)

# Checking the size of each dataset to ensure the split
len_train = len(train)
len_val = len(val)
len_test = len(test)

(len_train, len_val, len_test)

(13741, 3926, 1964)

In [6]:
# Save the datasets to CSV files
train.to_csv("train.csv", index=False)
val.to_csv("validation.csv", index=False)
test.to_csv("test.csv", index=False)