### Graded Lab 2

Hello ! Welcome to Graded Lab of Module 2.
Here we will be working on an exciting business problem with help of interesting datasets.
Lets look at the problem statement,

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answers to different questions asked by company officials.

In [1]:
# importing libraries
import pandas as pd
import numpy as np

### Reading sales data
sales = pd.read_csv('sales_data.csv')

### Reading customer data
cust = pd.read_csv(r'customers.csv',encoding='iso-8859-1')

### Reading vendor data
vend = pd.read_csv(r'vendors.csv')

sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

In order to solve the next questions , we need to combine all the 3 datasets into a single dataframe such that every details of sales dataframe are intact. So here we have written a data processing function.
There are 2 tasks which are to be performed.
1. Merge/ Join all the 3 datasets into a single dataframe such that every details of sales dataframe are intact. (Understand which should be the joining key , type of join , refer .merge() function of pandas)
2. Convert 'order_date' into a datetime column.
**Return output as a dataframe**

In [2]:
#### data_merging & order_date processing , data1 will be sales , data2 will be customer dataset & data3 will be vendor dataset.

def data_process(data1,data2,data3):
    data = data1.merge(right=data2, how="inner", on="customer_id")
    data = data.merge(right=data3, how="inner", on="vendor_code")
    data["order_date"] = pd.to_datetime(data['order_date'], format='%d/%m/%Y')
    return data

In [3]:
sales= data_process(data1=sales.copy(),data2=cust.copy(),data3=vend.copy())

In [4]:
assert sales['order_date'].dtypes=='<M8[ns]' ,'Make sure that you have converted order_date into a datetime format correctly.'
assert sales.shape== (51290,26) ,'Checking size and shape of dataframe after merging is a very important check.'

In [5]:
#sales.to_csv("sales.csv", index=False)

### Q1. Return the top three subcategories that yield the best percentage profit? Return output as list of sub-categories, list of percentage values (rounded upto 2 decimals).

In [6]:
#sales.info()

In [7]:
def top_3_sales(data):
    
    # Group by sub_category and sum the profits for each sub_category
    sub_category_profit = data.groupby("sub_category")["profit"].sum().reset_index()
    
    # Sort the subcategories by profit in descending order and select the top 3
    top3 = sub_category_profit.nlargest(3, "profit")
    
    # Calculate the percentage profit for each subcategory
    total_profit = sub_category_profit["profit"].sum()
    top3["percent"] = (top3["profit"] / total_profit * 100).round(2)
    
    # Extract the subcategories and their corresponding percentage values
    sub_categories = top3["sub_category"].tolist()
    perc_values = top3["percent"].tolist()
    
    return sub_categories, perc_values

In [8]:
# def top_3_sales(data):
#     # your code here
#     # Calculate the percentage profit for each row
#     data['percentage_profit'] = (data['profit'] / data['sales']) * 100
    
#     # Group by subcategory and calculate the mean percentage profit
#     subcategory_profit = data.groupby('sub_category')['percentage_profit'].mean()
    
#     # Sort the subcategories based on mean percentage profit in descending order
#     sorted_subcategories = subcategory_profit.sort_values(ascending=False)
    
#     # Select the top three subcategories
#     sub_categories = sorted_subcategories.head(3)

#     # Round the percentage values to 2 decimals
#     perc_values = sub_categories.round(2).tolist()
    
    
#     return sub_categories.index.tolist(),perc_values

In [9]:
assert len(top_3_sales(data=sales)[0])==3,"Please include list of top 3 sub-categories only"
assert type(top_3_sales(data=sales)[0])==list,"Output type should be list only."

In [10]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [11]:
top_3_sales(sales)[0]

['Copiers', 'Phones', 'Bookcases']

In [12]:
top_3_sales(sales)[1]

[17.62, 14.77, 11.03]

### Q2.	Which city has the highest sales ?

In [13]:
def top_city_sales(data):
    # Group by city and calculate the total sales for each city
    city_total_sales = data.groupby('city')['sales'].sum()
    
    # Find the city with the highest sales
    top_city = city_total_sales.idxmax()

    return top_city

In [14]:
assert type(top_city_sales(data=sales))==str,"Please make sure that output is in string format"

In [15]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [16]:
top_city_sales(sales)

'Santo Domingo'

### Q.3. In year 2013 , which country has reported lowest profit ? 
**(Calculate order year from order_date column.)**

In [17]:
def lowest_profit_country(data):
    # Extract the year from the order_date column
    data['order_year'] = pd.to_datetime(data['order_date']).dt.year

    # Filter data for the year 2013
    data_2013 = data[data['order_year'] == 2013]
    
    # Group by country and calculate the total profit for each country
    country_total_profit = data_2013.groupby('country')['profit'].sum()

    # Find the country with the lowest profit
    lowest_profit_country = country_total_profit.idxmin()

    return lowest_profit_country

In [18]:
assert type(lowest_profit_country(data=sales))==str,"Please make sure that output is in string format"

In [19]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [20]:
lowest_profit_country(sales)

'Togo'

### Q.4. For which market segment we could observe 2nd highest discount ?

In [21]:
#sales.columns

In [22]:
def second_highest_discount_market(data):
    
    # Group by market segment and calculate the mean discount for each segment
    segment_mean_discount = data.groupby('market')['discount'].mean()

    # Sort the market segments based on mean discount in descending order
    sorted_segments = segment_mean_discount.sort_values(ascending=False)

    # Select the market segment with the second-highest discount
    second_highest_discount_market = sorted_segments.index[1]

    return second_highest_discount_market

In [23]:
assert type(second_highest_discount_market(data=sales))==str,"Please make sure that output is in string format"

In [24]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [25]:
second_highest_discount_market(sales)

'EMEA'

### Q5.	Which product was sold the most (in terms of quantity) within the subcategory ‘Copiers’ and how many units were sold? Return output as a tuple (product name, quantities sold)

In [26]:
#sales.sub_category.unique()

In [27]:
def copier_sales(data):
    
    copier = sales[sales["sub_category"] == "Copiers"]
    
    total_quantity_by_product = copier.groupby('product_name', as_index=False)['quantity'].sum().sort_values(by="quantity", ascending=False)
    
    
    return (total_quantity_by_product.iloc[0].values[0], total_quantity_by_product.iloc[0].values[1])

In [28]:
def copier_sales(data):
    
    # Filter data for the 'Copiers' subcategory
    copier_data = data[data['sub_category'] == 'Copiers']

    # Find the product with the maximum quantity sold
    max_quantity_product = copier_data.loc[copier_data['quantity'].idxmax()]['product_name']

    # Get the quantity sold for the product
    quantity_sold = np.int64(copier_data.loc[copier_data['quantity'].idxmax()]['quantity'])
    
    return max_quantity_product, quantity_sold

In [29]:
assert type(copier_sales(data=sales)[0])==str,"Please check the data type of answer , product name should be string."
assert type(copier_sales(data=sales)[1])==np.int64,"Please check the data type of answer , quantity sold should be an integer."

In [30]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [31]:
copier_sales(sales)[0]

'Hewlett Copy Machine, Color'

In [32]:
copier_sales(sales)[1]

14

### Q6.	In 2014, which customer (identify by name) contributed to the highest total profit and how much was it (Round it to 4 digits) ? Return output as a tuple (customer name, profit)

In [33]:
def cust_prof(data):      
    ### Extract order year from order date. You can use dt.year functions
    # your code here
    
    data['order_year'] = pd.to_datetime(data['order_date']).dt.year
    
    ### Filter data for yr 2014
    sales_yr= data[data['order_year'] == 2014]
    
    
    #### Aggregate the profits wrto customer name , you can make use of .groupby() function in pandas
    cust_profit = sales_yr.groupby('customer_name')['profit'].sum().reset_index()
     
    ### Round the profit column to 4 decimal numbers  ,You can make use of round() function for rounding off 
    cust_profit['profit'] = round(cust_profit['profit'], 4)
    
    ## sort the dataframe with decreasing order of profits.
    cust_profit = cust_profit.sort_values(by='profit', ascending=False)
    
    ### Store customer_name with highest profit in variables below. 
    customer_name = cust_profit.iloc[0]['customer_name']
    customer_profit = cust_profit.iloc[0]['profit']
    
    
    return customer_name,customer_profit

In [34]:
assert type(cust_prof(data=sales)[0])==str,"Please check the data type of answer , customer name should be string."
assert type(cust_prof(data=sales)[1])==np.float64,"Please check the data type of answer , profit recorded should be float."

In [35]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [36]:
cust_prof(sales)

('Raymond Buch', 7444.5343)

### Q7.	How much do the different categories of items contribute to total sales? 
**Return output dataframe consisting 2 columns 'category' (product category),'sales_perc' (sales % values).**

**Make sure to round off sales percentage values to 2 decimals.**

In [37]:
def cat_sales_contri(data):
    
    # Calculate total sales
    total_sales = data['sales'].sum()
    
    # Group by category and calculate the percentage of total sales
    cat_sales = data.groupby('category')['sales'].sum().reset_index()
    cat_sales['sales_perc'] = (cat_sales['sales'] / total_sales) * 100
    
    # Round off sales percentage values to 2 decimals
    cat_sales['sales_perc'] = round(cat_sales['sales_perc'], 2)
    
    # Select required columns
    cat_sales = cat_sales[['category', 'sales_perc']]
    
    return cat_sales

In [38]:
assert type(cat_sales_contri(data=sales))==pd.DataFrame,"Please check the data type of answer , it should be a dataframe."
assert cat_sales_contri(data=sales).shape==(3,2),"Please check the data shape, total row count should be equal to number of unique categories."

In [39]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [40]:
cat_sales_contri(sales)

          category  sales_perc
0        Furniture       32.52
1  Office Supplies       29.96
2       Technology       37.53

### Q8. Can we identify the customers who have not made any purchases in the last 12 months, so that we can send them some promotional material to encourage them to come back and shop with us? 

**Return the output as a data frame with three columns: 'customer_name','customer_id' and 'Total_sales' (total sales amount that customer has accrued). Make sure that you are returning the mentioned column names in same sequence & as same spelled.**

**Hint:-**

You might think of working on this logic

1. Calculate latest order date for every customer
2. Calculate yr back order date by offsetting latest date by 365 days (you can make use of pd.DateOffset(days=) function)
3. Check if order date is in between yr_back_order date and latest_order_date, create binary flag.
4. For every customer,you will get multiple order dates which are before yr old order date. Aggregate the flag at user level.
5. Check for a customer if all the flags indicating that order date are before 1 yr then mark that customer as one who hasnt made any transations in last yr.
6. Take out its name by joining with customer data and aggregate it for finding total sales.

In [41]:
sales.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'product_id', 'category', 'sub_category', 'product_name',
       'sales', 'quantity', 'discount', 'profit', 'shipping_cost',
       'order_priority', 'vendor_code', 'customer_name', 'city', 'state',
       'country', 'postal_code', 'segment', 'market', 'region', 'vendor',
       'order_year'],
      dtype='object')

In [42]:
sales.customer_id.unique()

array(['SC-20575', 'KW-16570', 'DP-13000', ..., 'MG-7875', 'DK-2985',
       'ME-8010'], dtype=object)

In [44]:
# TROUBLESHOOTING FUNCTIONS
def cust_purc(data):
    return None

In [45]:
def cust_purc(data):
    
    
    ### Groupby customer_id & consider latest order_date, name this dataframe as purchase_date. 
    purchase_date = data.groupby('customer_id')['order_date'].max().reset_index()
    purchase_date.rename(columns={'order_date':'latest_purchase_date'}, inplace=True)
    
    #### Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days , make use of pd.DateOffset() function.
    purchase_date['yr_back_order_date'] = purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)
    
    ### Offset the latest_purchase_date by 1 more day in order to avoid intersection with latest_order_date.
    purchase_date['latest_purchase_date'] = purchase_date['latest_purchase_date'] + pd.DateOffset(days=1)
    
    ### We have purchase-date data ready with us so now its time to merge it with original sales data
    data = data.merge(purchase_date, on='customer_id', how='left')
    
    #### Check if order_date falls in between 'yr_back_order_date','latest_purchase_date' , if 'yes' flag it as 1 else 0. 
    data['purchase_flag'] = (data['order_date'] >= data['yr_back_order_date']) & (data['order_date'] <= data['latest_purchase_date']).astype(int)

    #### Calculate sum of all flag per customer_id by using groupby() function, call this flag total as '#purchases_in_last_yr'
    purchase_in_lst_yr = data.groupby('customer_id')['purchase_flag'].sum().reset_index()
    purchase_in_lst_yr.rename(columns={'purchase_flag':'#purchases_in_last_yr'},inplace=True)
    
    
    #### Merge the purchase_in_lst_yr with sales data.
    data = data.merge(purchase_in_lst_yr, on='customer_id', how='left')
    
    #### Select the customers who have 0 in '#purchases_in_last_yr' as this will be customers who havent purchased anything in last yr.
    inactive_customers = data[data['#purchases_in_last_yr'] == 0]
    
    ### Its time to do final aggregation for selected customers cosnider their name , id & aggregate it on sales column for getting total sales.
    sales_df_1 = inactive_customers.groupby(['customer_name', 'customer_id']).agg({'sales': 'sum'}).reset_index()
    sales_df_1.rename(columns={'sales': 'Total_sales'}, inplace=True)
    
    return sales_df_1[['customer_name','customer_id','Total_sales']] ### You can replace sales_df_1 by your dataframe name.

In [46]:
assert type(cust_purc(data=sales))==pd.DataFrame,"Please check the data type of answer , it should be dataframe."
assert cust_purc(data=sales).shape==(109,3),"Please check the data shape."

AssertionError: Please check the data shape.

In [47]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [48]:
cust_purc(sales)

Empty DataFrame
Columns: [customer_name, customer_id, Total_sales]
Index: []

In [49]:
type(cust_purc(data=sales))

pandas.core.frame.DataFrame

In [50]:
cust_purc(data=sales).shape

(0, 3)