### Graded Lab 2

Hello ! Welcome to Graded Lab of Module 2.
Here we will be working on an exciting business problem with help of interesting datasets.
Lets look at the problem statement,

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answers to different questions asked by company officials.

In [1]:
# importing libraries
import pandas as pd
import numpy as np

### Reading sales data
sales = pd.read_csv('sales_data.csv')

### Reading customer data
cust = pd.read_csv(r'customers.csv',encoding='iso-8859-1')

### Reading vendor data
vend = pd.read_csv(r'vendors.csv')

sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

In [2]:
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.4f}'.format)

In [3]:
sales.shape, cust.shape, vend.shape

((51290, 17), (1590, 9), (65, 2))

In [4]:
cust.head()

  customer_id   customer_name           city             state    country  postal_code      segment market         region
0    SC-20575    Sonia Cooley    Mexico City  Distrito Federal     Mexico          NaN     Consumer  LATAM    LATAM-North
1    KW-16570  Kelly Williams  Dos Quebradas         Risaralda   Colombia          NaN     Consumer  LATAM    LATAM-South
2    DP-13000   Darren Powers      São Paulo         São Paulo     Brazil          NaN     Consumer  LATAM    LATAM-South
3    TB-21250    Tim Brockman        Managua           Managua  Nicaragua          NaN     Consumer  LATAM  LATAM-Central
4    PK-18910    Paul Knutson        Managua           Managua  Nicaragua          NaN  Home Office  LATAM  LATAM-Central

In [5]:
vend.head()

            vendor vendor_code
0          Accenco      VE_001
1  Ace Corporation      VE_002
2             Nero      VE_003
3         Rushcorp      VE_004
4    Low Tide Corp      VE_005

In order to solve the next questions , we need to combine all the 3 datasets into a single dataframe such that every details of sales dataframe are intact. So here we have written a data processing function.
There are 2 tasks which are to be performed.
1. Merge/ Join all the 3 datasets into a single dataframe such that every details of sales dataframe are intact. (Understand which should be the joining key , type of join , refer .merge() function of pandas)
2. Convert 'order_date' into a datetime column.
**Return output as a dataframe**

In [6]:
df = sales.merge(right=cust, how="inner", on="customer_id")

In [7]:
df.head()

   row_id        order_id  order_date   ship_date       ship_mode customer_id       product_id         category sub_category                        product_name     sales  quantity  discount   profit  shipping_cost order_priority vendor_code customer_name         city             state country  postal_code   segment market       region
0       1  MX-2014-143658  02/10/2014  06/10/2014  Standard Class    SC-20575  OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable   13.0800         3    0.0000   4.5600         1.0300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North
1    3832  MX-2011-145870  21/05/2011  26/05/2011  Standard Class    SC-20575  OFF-ST-10002371  Office Supplies      Storage        Rogers File Cart, Industrial  755.2000         8    0.0000   7.5200        86.0300         Medium      VE_013  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North
2    3833  MX-2011-145870  21/05/2011  26/05/2011  Standard Class    SC-20575  OFF-BI-10004491  Office Supplies      Binders        Avery Binder Covers, Durable   58.6600         7    0.0000  21.7000         5.3000         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North
3    3834  MX-2011-145870  21/05/2011  26/05/2011  Standard Class    SC-20575  OFF-SU-10002215  Office Supplies     Supplies             Elite Ruler, High Speed   64.4000         7    0.0000  18.6200         6.1300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North
4    4203  US-2014-122420  04/12/2014  07/12/2014    Second Class    SC-20575  FUR-TA-10001572        Furniture       Tables         Hon Wood Table, Rectangular 1410.4000         5    0.2000 -88.2000       215.1300       Critical      VE_002  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North

In [8]:
df.shape

(51290, 25)

In [9]:
df2 = df.merge(right=vend, how="inner", on="vendor_code")

In [10]:
df2

       row_id        order_id  order_date   ship_date       ship_mode customer_id        product_id         category sub_category                        product_name    sales  quantity  discount   profit  shipping_cost order_priority vendor_code     customer_name           city             state   country  postal_code      segment  market       region   vendor
0           1  MX-2014-143658  02/10/2014  06/10/2014  Standard Class    SC-20575   OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable  13.0800         3    0.0000   4.5600         1.0300         Medium      VE_001      Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco
1        3833  MX-2011-145870  21/05/2011  26/05/2011  Standard Class    SC-20575   OFF-BI-10004491  Office Supplies      Binders        Avery Binder Covers, Durable  58.6600         7    0.0000  21.7000         5.3000         Medium      VE_001      Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco
2        3834  MX-2011-145870  21/05/2011  26/05/2011  Standard Class    SC-20575   OFF-SU-10002215  Office Supplies     Supplies             Elite Ruler, High Speed  64.4000         7    0.0000  18.6200         6.1300         Medium      VE_001      Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco
3        5553  MX-2012-126788  17/09/2012  23/09/2012  Standard Class    SC-20575   OFF-AR-10004012  Office Supplies          Art          Sanford Highlighters, Blue  31.5000         3    0.0000  11.6400         2.1200            Low      VE_001      Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco
4        9734  MX-2014-106607  23/04/2014  28/04/2014  Standard Class    SC-20575   OFF-EN-10001861  Office Supplies    Envelopes      Kraft Peel and Seal, Set of 50  40.9800         3    0.0000  15.9600         1.1100         Medium      VE_001      Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco
...       ...             ...         ...         ...             ...         ...               ...              ...          ...                                 ...      ...       ...       ...      ...            ...            ...         ...               ...            ...               ...       ...          ...          ...     ...          ...      ...
51285   46252    EG-2013-8830  28/11/2013  05/12/2013  Standard Class     EB-3705  FUR-BUS-10002989        Furniture    Bookcases  Bush Classic Bookcase, Traditional 825.3600         2    0.0000 338.3400        77.9200            Low      VE_063        Ed Braxton          Cairo        Al Qahirah     Egypt          NaN    Corporate  Africa       Africa  Apexman
51286   49771    LY-2012-3040  15/05/2012  18/05/2012     First Class     EB-3705  FUR-IKE-10001539        Furniture    Bookcases         Ikea Classic Bookcase, Pine 826.2000         2    0.0000  16.5000       143.1100           High      VE_063        Ed Braxton          Cairo        Al Qahirah     Egypt          NaN    Corporate  Africa       Africa  Apexman
51287   49967    CF-2014-8240  09/05/2014  14/05/2014    Second Class    VB-11745  FUR-HON-10001627        Furniture       Chairs        Hon Swivel Stool, Adjustable 166.1400         1    0.0000  21.5700         7.7600           High      VE_063  Victoria Brennan       Chisinau          Chisinau   Moldova          NaN    Corporate    EMEA         EMEA  Apexman
51288   46417    TZ-2014-7100  03/09/2014  07/09/2014  Standard Class    TH-11115  FUR-SAU-10000637        Furniture    Bookcases    Sauder Library with Doors, Metal 387.0900         1    0.0000 127.7100        14.7700         Medium      VE_063     Thea Hudgings  Dar es Salaam     Dar Es Salaam  Tanzania          NaN    Corporate  Africa       Africa  Apexman
51289   48920    TZ-2013-6160  23/11/2013  27/11/2013    Second Class     MG-7875  FUR-RUB-10002507        Furniture  Furnishings     Rubbermaid Stacking Tray, Black  50.4000         2    0.0000  15.6000         5.3400         Medium      VE_063     Michael Grace         Arusha            Arusha  Tanzania          NaN  Home Office  Africa       Africa  Apexman

[51290 rows x 26 columns]

In [11]:
df2.shape

(51290, 26)

In [12]:
df2["order_date"] = pd.to_datetime(df2['order_date'], format='%d/%m/%Y')

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          51290 non-null  int64
 1   order_id        51290 non-null  object
 2   order_date      51290 non-null  datetime64[ns]
 3   ship_date       51290 non-null  object
 4   ship_mode       49720 non-null  object
 5   customer_id     51290 non-null  object
 6   product_id      51290 non-null  object
 7   category        51290 non-null  object
 8   sub_category    51290 non-null  object
 9   product_name    49993 non-null  object
 10  sales           51290 non-null  float64
 11  quantity        51290 non-null  int64
 12  discount        51290 non-null  float64
 13  profit          51290 non-null  float64
 14  shipping_cost   51290 non-null  float64
 15  order_priority  50244 non-null  object
 16  vendor_code     51290 non-null  object
 17  customer_name   51290 non-null  object
 18  city            51290 non-null  object
 19  state           51290 non-null  object
 20  country         51290 non-null  object
 21  postal_code     0 non-null      float64
 22  segment         51290 non-null  object
 23  market          51290 non-null  object
 24  region          51290 non-null  object
 25  vendor          51290 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(18)
memory usage: 10.6+ MB

# ---------------------------------------------------------------------------------

In [14]:
#### data_merging & order_date processing , data1 will be sales , data2 will be customer dataset & data3 will be vendor dataset.

def data_process(data1,data2,data3):
    data = data1.merge(right=data2, how="inner", on="customer_id")
    data = data.merge(right=data3, how="inner", on="vendor_code")
    data["order_date"] = pd.to_datetime(data['order_date'], format='%d/%m/%Y')
    return data

In [15]:
sales= data_process(data1=sales.copy(),data2=cust.copy(),data3=vend.copy())

In [16]:
assert sales['order_date'].dtypes=='<M8[ns]' ,'Make sure that you have converted order_date into a datetime format correctly.'
assert sales.shape== (51290,26) ,'Checking size and shape of dataframe after merging is a very important check.'

In [17]:
sales.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit', 'shipping_cost', 'order_priority', 'vendor_code', 'customer_name', 'city', 'state', 'country', 'postal_code', 'segment', 'market', 'region', 'vendor'], dtype='object')

In [18]:
#sales.to_csv("salescombine.csv", index=False)

### Q1. Return the top three subcategories that yield the best percentage profit? Return output as list of sub-categories, list of percentage values (rounded upto 2 decimals).

In [19]:
def top_3_sales(data):
    
    # Group by sub_category and sum the profits for each sub_category
    sub_category_profit = data.groupby("sub_category")["profit"].sum().reset_index()
    
    # Sort the subcategories by profit in descending order and select the top 3
    top3 = sub_category_profit.nlargest(3, "profit")
    
    # Calculate the percentage profit for each subcategory
    total_profit = sub_category_profit["profit"].sum()
    top3["percent"] = (top3["profit"] / total_profit * 100).round(2)
    
    # Extract the subcategories and their corresponding percentage values
    sub_categories = top3["sub_category"].tolist()
    perc_values = top3["percent"].tolist()
    
    return sub_categories,perc_values

In [20]:
assert len(top_3_sales(data=sales)[0])==3,"Please include list of top 3 sub-categories only"
assert type(top_3_sales(data=sales)[0])==list,"Output type should be list only."

In [21]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

### Q2.	Which city has the highest sales ?

In [22]:
def top_city_sales(data):
    
    df1 = data.groupby("city", as_index=False)["sales"].sum().sort_values(by="sales", ascending=False)
    
    return df1['city'].values[0]

In [23]:
assert type(top_city_sales(data=sales))==str,"Please make sure that output is in string format"

In [24]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

### Q.3. In year 2013 , which country has reported lowest profit ? 
**(Calculate order year from order_date column.)**

In [25]:
def lowest_profit_country(data):
    
    # Filter the data to include only records from the year 2013
    year2013_data = data[data["order_date"].dt.year == 2013]
    
    # Find the row with the lowest profit in the year 2013
    lowest_profit_row = year2013_data[year2013_data["profit"] == year2013_data["profit"].min()]
    
    # Extract the country from the row with the lowest profit
    country_with_lowest_profit = lowest_profit_row["country"].values[0]
    
    return country_with_lowest_profit

In [26]:
assert type(lowest_profit_country(data=sales))==str,"Please make sure that output is in string format"

In [27]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

### Q.4. For which market segment we could observe 2nd highest discount ?

In [28]:
sales.discount.value_counts()

0.0000    29009
0.2000     4998
0.1000     4068
0.4000     3177
0.6000     2006
0.7000     1786
0.5000     1633
0.1700      735
0.4700      725
0.1500      541
0.0020      461
0.2700      388
0.3000      340
0.4500      327
0.8000      316
0.2500      198
0.0700      150
0.3500      122
0.4020      104
0.3700       74
0.2020       41
0.3200       27
0.6020       23
0.6500       17
0.5700       12
0.5500       10
0.8500        2
Name: discount, dtype: int64

In [29]:
market_segment_discount = sales[sales.discount == 0.80]
market_segment_discount

       row_id         order_id order_date   ship_date       ship_mode customer_id       product_id         category sub_category                                       product_name    sales  quantity  discount     profit  shipping_cost order_priority vendor_code     customer_name            city              state      country  postal_code      segment market         region         vendor
4246    18984  ES-2011-3128239 2011-08-27  02/09/2011  Standard Class    Co-12640  FUR-FU-10004421        Furniture  Furnishings                               Tenex Clock, Durable  18.9120         2    0.8000   -34.0680         1.9500            Low      VE_012        Corey-Lock            León         Guanajuato       Mexico          NaN     Consumer  LATAM    LATAM-North   Wonderprises
4399    15335  IT-2012-2732419 2012-01-20  24/01/2012  Standard Class    NB-18580  FUR-FU-10000502        Furniture  Furnishings                             Deflect-O Clock, Black  70.4340         7    0.8000  -271.2360        10.7400           High      VE_012    Nicole Brennan     Panama City             Panama       Panama          NaN    Corporate  LATAM  LATAM-Central   Wonderprises
4479    16434  ES-2013-1198254 2013-08-06  09/08/2013     First Class    RO-19780  FUR-FU-10002502        Furniture  Furnishings                          Eldon Light Bulb, Durable  22.2300         5    0.8000   -41.2200         1.7200           High      VE_012      Rose O'Brian  San Pedro Sula             Cortés     Honduras          NaN     Consumer  LATAM  LATAM-Central   Wonderprises
4591    33301   US-2014-143028 2014-04-12  19/04/2014  Standard Class    SC-20050  OFF-BI-10004738  Office Supplies      Binders  Flexible Leather- Look Classic Collection Ring...  11.3640         3    0.8000   -17.0460         1.2900            Low      VE_005  Sample Company A     Tegucigalpa  Francisco Morazán     Honduras          NaN  Home Office  LATAM  LATAM-Central  Low Tide Corp
4853    37490   CA-2014-104927 2014-12-23  27/12/2014  Standard Class    AG-10330  OFF-BI-10003429  Office Supplies      Binders  Cardinal HOLDit! Binder Insert Strips,Extra St...   6.3300         5    0.8000    -9.8115         0.4200         Medium      VE_005      Alex Grayson         Soledad          Atlántico     Colombia          NaN     Consumer  LATAM    LATAM-South  Low Tide Corp
...       ...              ...        ...         ...             ...         ...              ...              ...          ...                                                ...      ...       ...       ...        ...            ...            ...         ...               ...             ...                ...          ...          ...          ...    ...            ...            ...
48273   20613    ID-2011-61876 2011-02-09  15/02/2011  Standard Class    DR-12940  FUR-TA-10004050        Furniture       Tables                Lesro Coffee Table, Fully Assembled 202.7760         4    0.8000  -304.2240        11.9400         Medium      VE_049     Daniel Raglin           Apopa       San Salvador  El Salvador          NaN  Home Office  LATAM  LATAM-Central       Sawwares
48275   23753    ID-2011-55849 2011-08-31  04/09/2011  Standard Class    BG-11740  FUR-TA-10000207        Furniture       Tables            Chromcraft Round Table, Fully Assembled 374.8560         4    0.8000 -1218.3840         0.2500         Medium      VE_049        Bruce Geld          Toluca             México       Mexico          NaN     Consumer  LATAM    LATAM-North       Sawwares
48376   23658    ID-2012-56913 2012-05-23  30/05/2012  Standard Class    BG-11035  FUR-TA-10001935        Furniture       Tables                  Hon Coffee Table, Fully Assembled  63.4740         1    0.8000  -244.3860         6.0700            Low      VE_049    Barry Gonzalez     Villa Nueva          Guatemala    Guatemala          NaN     Consumer  LATAM  LATAM-Central       Sawwares
48783   25209    ID-2011-30747 2011-12-07  11/12/2011  Standard Class    SA-20830  FUR-TA-10003748        Furniture       Tables               Bevis Round Table, Adjustable Height 312.2280         3    0.8000  -780.6420        34.9900           High      VE_046      Sue Ann Reed     Mexico City   Distrito Federal       Mexico          NaN     Consumer  LATAM    LATAM-North       Coredale
48820   23527    ID-2013-10713 2013-04-09  13/04/2013  Standard Class    TN-21040  FUR-TA-10001531        Furniture       Tables            Lesro Training Table, Adjustable Height 108.3960         2    0.8000  -390.2640         9.6200         Medium      VE_046     Tanja Norvell          Bogotá             Bogota     Colombia          NaN  Home Office  LATAM    LATAM-South       Coredale

[316 rows x 26 columns]

In [30]:
market_segment_discount.market.value_counts()

LATAM    316
Name: market, dtype: int64

In [31]:
def second_highest_discount_market(data):
    
    market_segment_discount = data[data["discount"] == 0.80]
    sorted_segments = market_segment_discount.sort_values(by="discount", ascending=False)
    second_highest_discount_segment = sorted_segments.iloc[1]["market"]
    
    return second_highest_discount_segment

In [32]:
def second_highest_discount_market(data):
    
    market_segment_discount = data.groupby("market")["discount"].mean().reset_index()
    sorted_segments = market_segment_discount.sort_values(by="discount", ascending=False)
    second_highest_discount_segment = sorted_segments.iloc[1]["market"]
    
    return second_highest_discount_segment

In [33]:
assert type(second_highest_discount_market(data=sales))==str,"Please make sure that output is in string format"

In [34]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

In [35]:
second_highest_discount_market(data=sales)

'EMEA'

### Q5.	Which product was sold the most (in terms of quantity) within the subcategory ‘Copiers’ and how many units were sold? Return output as a tuple (product name, quantities sold)

In [36]:
copier = sales[sales["sub_category"] == "Copiers"]
copier.head()

      row_id        order_id order_date   ship_date       ship_mode customer_id       product_id    category sub_category                          product_name     sales  quantity  discount    profit  shipping_cost order_priority vendor_code     customer_name                        city             state             country  postal_code    segment market         region      vendor
2081     771  MX-2011-162992 2011-11-17  22/11/2011  Standard Class    HE-14800  TEC-CO-10004521  Technology      Copiers             HP Personal Copier, Laser   82.6943         1    0.0020   36.2743         7.2600         Medium      VE_013      Harold Engle               San Miguelito            Panama              Panama          NaN  Corporate  LATAM  LATAM-Central  Whizystems
2083   36859  CA-2014-133263 2014-04-01  03/04/2014    Second Class    JE-15610  TEC-CO-10001449  Technology      Copiers  Hewlett Packard LaserJet 3310 Copier 2999.9500         5    0.0000 1439.9760       439.6900           High      VE_013           Jim Epp  San Cristóbal de Las Casas           Chiapas              Mexico          NaN  Corporate  LATAM    LATAM-North  Whizystems
2084    7123  MX-2013-131247 2013-10-15  19/10/2013  Standard Class    TB-21055  TEC-CO-10004125  Technology      Copiers                    HP Ink, High-Speed  253.2924         3    0.0020   83.1924        14.5800         Medium      VE_013   Ted Butterfield                    Santiago          Santiago               Chile          NaN   Consumer  LATAM    LATAM-South  Whizystems
2087   10020  US-2014-109617 2014-06-18  25/06/2014  Standard Class    SP-20650  TEC-CO-10003568  Technology      Copiers                HP Copy Machine, Color  130.0823         2    0.6020 -131.3977         5.5500         Medium      VE_013  Stephanie Phelps                    Coyoacán  Distrito Federal              Mexico          NaN  Corporate  LATAM    LATAM-North  Whizystems
2100   10042  US-2012-168627 2012-04-27  02/05/2012  Standard Class    AS-10240  TEC-CO-10001968  Technology      Copiers          Canon Personal Copier, Color   76.5115         2    0.6020  -40.7685         6.0600         Medium      VE_013      Alan Shonely               Santo Domingo     Santo Domingo  Dominican Republic          NaN   Consumer  LATAM      Caribbean  Whizystems

In [37]:
# Group by product_name and sum the quantity
total_quantity_by_product = copier.groupby('product_name', as_index=False)['quantity'].sum()
total_quantity_by_product

                                          product_name  quantity
0                          Brother Copy Machine, Color       119
1                     Brother Copy Machine, High-Speed        45
2                          Brother Copy Machine, Laser        38
3    Brother DCP1000 Digital 3 in 1 Multifunction M...        19
4                           Brother Fax Machine, Color        64
..                                                 ...       ...
124                       Sharp Personal Copier, Laser        73
125                          Sharp Wireless Fax, Color        67
126                        Sharp Wireless Fax, Digital        76
127                     Sharp Wireless Fax, High-Speed        51
128                          Sharp Wireless Fax, Laser        63

[129 rows x 2 columns]

In [38]:
df = total_quantity_by_product.sort_values(by="quantity", ascending=False)
df

                                 product_name  quantity
78                Hewlett Copy Machine, Color       146
0                 Brother Copy Machine, Color       119
106                 Sharp Copy Machine, Color       118
55                     HP Copy Machine, Color       107
50                  Canon Wireless Fax, Color        97
..                                        ...       ...
93   Hewlett Packard 310 Color Digital Copier        16
45                         Canon PC940 Copier        15
44              Canon PC1080F Personal Copier        11
104         Sharp 1540cs Digital Laser Copier        10
36              Canon Image Class D660 Copier         7

[129 rows x 2 columns]

In [39]:
df.iloc[0].values[0]

'Hewlett Copy Machine, Color'

In [40]:
df.iloc[0].values[1]

146

In [41]:
def copier_sales(data):
    
    copier = sales[sales["sub_category"] == "Copiers"]
    
    total_quantity_by_product = copier.groupby('product_name', as_index=False)['quantity'].sum().sort_values(by="quantity", ascending=False)
    
    
    return (total_quantity_by_product.iloc[0].values[0], total_quantity_by_product.iloc[0].values[1])

In [42]:
copier_sales(data=sales)

('Hewlett Copy Machine, Color', 146)

In [43]:
assert type(copier_sales(data=sales)[0])==str,"Please check the data type of answer , product name should be string."
assert type(copier_sales(data=sales)[1])==np.int64,"Please check the data type of answer , quantity sold should be an integer."

In [44]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

### Q6.	In 2014, which customer (identify by name) contributed to the highest total profit and how much was it (Round it to 4 digits) ? Return output as a tuple (customer name, profit)

In [45]:
def cust_prof(data):     
    
    ### Extract order year from order date. You can use dt.year functions
    # your code here
    
    data['order_year'] = data['order_date'].dt.year
    
    ### Filter data for yr 2014
    sales_yr= data[data['order_year'] == 2014]
    
    
    #### Aggregate the profits wrto customer name , you can make use of .groupby() function in pandas
    cust_profit = sales_yr.groupby('customer_name')['profit'].sum().reset_index()
     
    ### Round the profit column to 4 decimal numbers  ,You can make use of round() function for rounding off 
    cust_profit['profit'] = cust_profit['profit'].round(4)
    
    ## sort the dataframe with decreasing order of profits.
    cust_profit = cust_profit.sort_values(by='profit', ascending=False)
    
    ### Store customer_name with highest profit in variables below. 
    customer_name = cust_profit.iloc[0]['customer_name']
    customer_profit = cust_profit.iloc[0]['profit']
    
    
    
    return customer_name,customer_profit

In [46]:
assert type(cust_prof(data=sales)[0])==str,"Please check the data type of answer , customer name should be string."
assert type(cust_prof(data=sales)[1])==np.float64,"Please check the data type of answer , profit recorded should be float."

In [47]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

### Q7.	How much do the different categories of items contribute to total sales? 
**Return output dataframe consisting 2 columns 'category' (product category),'sales_perc' (sales % values).**

**Make sure to round off sales percentage values to 2 decimals.**

In [48]:
def cat_sales_contri(data):
    
    # Calculate total sales for each category
    total_sales_by_category = data.groupby('category')['sales'].sum()

    # Calculate the percentage contribution of each category to total sales
    sales_percentage = (total_sales_by_category / total_sales_by_category.sum()) * 100

    # Round off sales percentage values to 2 decimals
    sales_percentage = sales_percentage.round(2)

    # Create a DataFrame with 'category' and 'sales_perc' columns
    result_df = pd.DataFrame({'category': total_sales_by_category.index, 'sales_perc': sales_percentage})

    return result_df

In [49]:
assert type(cat_sales_contri(data=sales))==pd.DataFrame,"Please check the data type of answer , it should be a dataframe."
assert cat_sales_contri(data=sales).shape==(3,2),"Please check the data shape, total row count should be equal to number of unique categories."

In [50]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.

### Q8. Can we identify the customers who have not made any purchases in the last 12 months, so that we can send them some promotional material to encourage them to come back and shop with us? 

**Return the output as a data frame with three columns: 'customer_name','customer_id' and 'Total_sales' (total sales amount that customer has accrued). Make sure that you are returning the mentioned column names in same sequence & as same spelled.**

**Hint:-**

You might think of working on this logic

1. Calculate latest order date for every customer
2. Calculate yr back order date by offsetting latest date by 365 days (you can make use of pd.DateOffset(days=) function)
3. Check if order date is in between yr_back_order date and latest_order_date, create binary flag.
4. For every customer,you will get multiple order dates which are before yr old order date. Aggregate the flag at user level.
5. Check for a customer if all the flags indicating that order date are before 1 yr then mark that customer as one who hasnt made any transations in last yr.
6. Take out its name by joining with customer data and aggregate it for finding total sales.

In [51]:
# Group by customer_id and consider the latest order_date
purchase_date = sales.groupby('customer_id')['order_date'].max().reset_index()
purchase_date.rename(columns={'order_date': 'latest_purchase_date'}, inplace=True)

purchase_date.head()

  customer_id latest_purchase_date
0    AA-10315           2014-12-23
1    AA-10375           2014-12-25
2    AA-10480           2014-08-28
3    AA-10645           2014-12-03
4      AA-315           2014-12-29

In [52]:
# Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days
purchase_date['yr_back_order_date'] = purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)
purchase_date.head()

  customer_id latest_purchase_date yr_back_order_date
0    AA-10315           2014-12-23         2013-12-23
1    AA-10375           2014-12-25         2013-12-25
2    AA-10480           2014-08-28         2013-08-28
3    AA-10645           2014-12-03         2013-12-03
4      AA-315           2014-12-29         2013-12-29

In [53]:
# Offset the latest_purchase_date by 1 more day to avoid intersection with the latest_order_date
purchase_date['latest_purchase_date'] = purchase_date['latest_purchase_date'] + pd.DateOffset(days=1)
purchase_date.head()

  customer_id latest_purchase_date yr_back_order_date
0    AA-10315           2014-12-24         2013-12-23
1    AA-10375           2014-12-26         2013-12-25
2    AA-10480           2014-08-29         2013-08-28
3    AA-10645           2014-12-04         2013-12-03
4      AA-315           2014-12-30         2013-12-29

In [54]:
# Merge purchase_date with the original sales data
sales = sales.merge(purchase_date, on='customer_id', how='left')
sales.head()

   row_id        order_id order_date   ship_date       ship_mode customer_id       product_id         category sub_category                        product_name   sales  quantity  discount  profit  shipping_cost order_priority vendor_code customer_name         city             state country  postal_code   segment market       region   vendor  order_year latest_purchase_date yr_back_order_date
0       1  MX-2014-143658 2014-10-02  06/10/2014  Standard Class    SC-20575  OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable 13.0800         3    0.0000  4.5600         1.0300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2014           2014-12-05         2013-12-04
1    3833  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575  OFF-BI-10004491  Office Supplies      Binders        Avery Binder Covers, Durable 58.6600         7    0.0000 21.7000         5.3000         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04
2    3834  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575  OFF-SU-10002215  Office Supplies     Supplies             Elite Ruler, High Speed 64.4000         7    0.0000 18.6200         6.1300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04
3    5553  MX-2012-126788 2012-09-17  23/09/2012  Standard Class    SC-20575  OFF-AR-10004012  Office Supplies          Art          Sanford Highlighters, Blue 31.5000         3    0.0000 11.6400         2.1200            Low      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2012           2014-12-05         2013-12-04
4    9734  MX-2014-106607 2014-04-23  28/04/2014  Standard Class    SC-20575  OFF-EN-10001861  Office Supplies    Envelopes      Kraft Peel and Seal, Set of 50 40.9800         3    0.0000 15.9600         1.1100         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2014           2014-12-05         2013-12-04

In [55]:
sales.shape

(51290, 29)

In [56]:
# Check if order_date falls in between 'yr_back_order_date' and 'latest_purchase_date'
sales['purchase_flag'] = ((sales['order_date'] >= sales['yr_back_order_date']) & 
                             (sales['order_date'] < sales['latest_purchase_date'])).astype(int)

In [57]:
sales.head()

   row_id        order_id order_date   ship_date       ship_mode customer_id       product_id         category sub_category                        product_name   sales  quantity  discount  profit  shipping_cost order_priority vendor_code customer_name         city             state country  postal_code   segment market       region   vendor  order_year latest_purchase_date yr_back_order_date  purchase_flag
0       1  MX-2014-143658 2014-10-02  06/10/2014  Standard Class    SC-20575  OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable 13.0800         3    0.0000  4.5600         1.0300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2014           2014-12-05         2013-12-04              1
1    3833  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575  OFF-BI-10004491  Office Supplies      Binders        Avery Binder Covers, Durable 58.6600         7    0.0000 21.7000         5.3000         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04              0
2    3834  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575  OFF-SU-10002215  Office Supplies     Supplies             Elite Ruler, High Speed 64.4000         7    0.0000 18.6200         6.1300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04              0
3    5553  MX-2012-126788 2012-09-17  23/09/2012  Standard Class    SC-20575  OFF-AR-10004012  Office Supplies          Art          Sanford Highlighters, Blue 31.5000         3    0.0000 11.6400         2.1200            Low      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2012           2014-12-05         2013-12-04              0
4    9734  MX-2014-106607 2014-04-23  28/04/2014  Standard Class    SC-20575  OFF-EN-10001861  Office Supplies    Envelopes      Kraft Peel and Seal, Set of 50 40.9800         3    0.0000 15.9600         1.1100         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2014           2014-12-05         2013-12-04              1

In [58]:
sales.shape

(51290, 30)

In [59]:
sales["purchase_flag"].value_counts()

0    31319
1    19971
Name: purchase_flag, dtype: int64

In [60]:
# Calculate the sum of all flags per customer_id
purchase_in_lst_yr = sales.groupby('customer_id')['purchase_flag'].sum().reset_index()
purchase_in_lst_yr.rename(columns={'purchase_flag': '#purchases_in_last_yr'}, inplace=True)

purchase_in_lst_yr

     customer_id  #purchases_in_last_yr
0       AA-10315                     18
1       AA-10375                     19
2       AA-10480                     11
3       AA-10645                     20
4         AA-315                      3
...          ...                    ...
1585    YS-21880                     21
1586    ZC-11910                      1
1587    ZC-21910                     27
1588    ZD-11925                      8
1589    ZD-21925                      6

[1590 rows x 2 columns]

In [61]:
purchase_in_lst_yr.describe()

       #purchases_in_last_yr
count              1590.0000
mean                 12.5604
std                   8.7913
min                   1.0000
25%                   5.0000
50%                  10.5000
75%                  19.0000
max                  49.0000

In [62]:
# Merge purchase_in_lst_yr with sales data
sales = sales.merge(purchase_in_lst_yr, on='customer_id', how='left')
sales.head()

   row_id        order_id order_date   ship_date       ship_mode customer_id       product_id         category sub_category                        product_name   sales  quantity  discount  profit  shipping_cost order_priority vendor_code customer_name         city             state country  postal_code   segment market       region   vendor  order_year latest_purchase_date yr_back_order_date  purchase_flag  #purchases_in_last_yr
0       1  MX-2014-143658 2014-10-02  06/10/2014  Standard Class    SC-20575  OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable 13.0800         3    0.0000  4.5600         1.0300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2014           2014-12-05         2013-12-04              1                     17
1    3833  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575  OFF-BI-10004491  Office Supplies      Binders        Avery Binder Covers, Durable 58.6600         7    0.0000 21.7000         5.3000         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04              0                     17
2    3834  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575  OFF-SU-10002215  Office Supplies     Supplies             Elite Ruler, High Speed 64.4000         7    0.0000 18.6200         6.1300         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04              0                     17
3    5553  MX-2012-126788 2012-09-17  23/09/2012  Standard Class    SC-20575  OFF-AR-10004012  Office Supplies          Art          Sanford Highlighters, Blue 31.5000         3    0.0000 11.6400         2.1200            Low      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2012           2014-12-05         2013-12-04              0                     17
4    9734  MX-2014-106607 2014-04-23  28/04/2014  Standard Class    SC-20575  OFF-EN-10001861  Office Supplies    Envelopes      Kraft Peel and Seal, Set of 50 40.9800         3    0.0000 15.9600         1.1100         Medium      VE_001  Sonia Cooley  Mexico City  Distrito Federal  Mexico          NaN  Consumer  LATAM  LATAM-North  Accenco        2014           2014-12-05         2013-12-04              1                     17

In [63]:
sales.shape

(51290, 31)

In [64]:
#sales.to_csv("question8.csv", index=False)

In [65]:
# Select customers who have 0 in '#purchases_in_last_yr' (customers who haven't purchased anything in the last yr)
no_purchase_customers = sales[sales['purchase_flag'] == 0]

no_purchase_customers

       row_id        order_id order_date   ship_date       ship_mode customer_id        product_id         category sub_category                     product_name    sales  quantity  discount   profit  shipping_cost order_priority vendor_code         customer_name           city             state       country  postal_code      segment  market       region   vendor  order_year latest_purchase_date yr_back_order_date  purchase_flag  #purchases_in_last_yr
1        3833  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575   OFF-BI-10004491  Office Supplies      Binders     Avery Binder Covers, Durable  58.6600         7    0.0000  21.7000         5.3000         Medium      VE_001          Sonia Cooley    Mexico City  Distrito Federal        Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04              0                     17
2        3834  MX-2011-145870 2011-05-21  26/05/2011  Standard Class    SC-20575   OFF-SU-10002215  Office Supplies     Supplies          Elite Ruler, High Speed  64.4000         7    0.0000  18.6200         6.1300         Medium      VE_001          Sonia Cooley    Mexico City  Distrito Federal        Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco        2011           2014-12-05         2013-12-04              0                     17
3        5553  MX-2012-126788 2012-09-17  23/09/2012  Standard Class    SC-20575   OFF-AR-10004012  Office Supplies          Art       Sanford Highlighters, Blue  31.5000         3    0.0000  11.6400         2.1200            Low      VE_001          Sonia Cooley    Mexico City  Distrito Federal        Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco        2012           2014-12-05         2013-12-04              0                     17
5       38609  CA-2012-162761 2012-10-09  13/10/2012  Standard Class    SC-20575   OFF-BI-10002498  Office Supplies      Binders   Clear Mylar Reinforcing Strips  11.2140         2    0.7000  -8.5974         0.8600         Medium      VE_001          Sonia Cooley    Mexico City  Distrito Federal        Mexico          NaN     Consumer   LATAM  LATAM-North  Accenco        2012           2014-12-05         2013-12-04              0                     17
7        5786  MX-2012-101154 2012-10-01  08/10/2012  Standard Class    KW-16570   OFF-SU-10004650  Office Supplies     Supplies        Acme Scissors, High Speed  84.8000         5    0.0000  21.2000         9.5500         Medium      VE_001        Kelly Williams  Dos Quebradas         Risaralda      Colombia          NaN     Consumer   LATAM  LATAM-South  Accenco        2012           2014-12-10         2013-12-09              0                     22
...       ...             ...        ...         ...             ...         ...               ...              ...          ...                              ...      ...       ...       ...      ...            ...            ...         ...                   ...            ...               ...           ...          ...          ...     ...          ...      ...         ...                  ...                ...            ...                    ...
51280   45202    NI-2012-5810 2012-06-05  09/06/2012  Standard Class    SP-10650  FUR-DEF-10002865        Furniture  Furnishings  Deflect-O Light Bulb, Erganomic  10.5660         2    0.7000  -7.0740         0.7000         Medium      VE_063      Stephanie Phelps         Funtua           Katsina       Nigeria          NaN    Corporate  Africa       Africa  Apexman        2012           2014-07-16         2013-07-15              0                      3
51281   46588    NI-2013-4150 2013-01-01  07/01/2013  Standard Class    SP-10650  FUR-SAF-10001873        Furniture       Chairs     SAFCO Bag Chairs, Set of Two  15.5070         1    0.7000 -19.6530         1.5300         Medium      VE_063      Stephanie Phelps         Funtua           Katsina       Nigeria          NaN    Corporate  Africa       Africa  Apexman        2013           2014-07-16         2013-07-15              0                      3
51282   45343    ZA-2013-7100 2013-01-22  24/01/2013    Second Class     PV-8985  FUR-SAF-10003745        Furniture       Chairs  SAFCO Rocking Chair, Set of Two 137.1600         1    0.0000   0.0000        16.4000           High      VE_063         Paul Van Hugh       Chingola        Copperbelt        Zambia          NaN  Home Office  Africa       Africa  Apexman        2013           2014-08-10         2013-08-09              0                      6
51283   50636    MZ-2012-3310 2012-01-14  16/01/2012    Second Class     CM-2385  FUR-SAU-10003872        Furniture    Bookcases  Sauder Floating Shelf Set, Pine 391.8600         2    0.0000  90.1200       101.9600       Critical      VE_063  Christopher Martinez   Johannesburg           Gauteng  South Africa          NaN     Consumer  Africa       Africa  Apexman        2012           2013-06-06         2012-06-05              0                      2
51286   49771    LY-2012-3040 2012-05-15  18/05/2012     First Class     EB-3705  FUR-IKE-10001539        Furniture    Bookcases      Ikea Classic Bookcase, Pine 826.2000         2    0.0000  16.5000       143.1100           High      VE_063            Ed Braxton          Cairo        Al Qahirah         Egypt          NaN    Corporate  Africa       Africa  Apexman        2012           2013-11-29         2012-11-28              0                      3

[31319 rows x 31 columns]

In [66]:
sales_df_1 = no_purchase_customers[['customer_name','customer_id','sales']]

In [67]:
sales_df_1

              customer_name customer_id    sales
1              Sonia Cooley    SC-20575  58.6600
2              Sonia Cooley    SC-20575  64.4000
3              Sonia Cooley    SC-20575  31.5000
5              Sonia Cooley    SC-20575  11.2140
7            Kelly Williams    KW-16570  84.8000
...                     ...         ...      ...
51280      Stephanie Phelps    SP-10650  10.5660
51281      Stephanie Phelps    SP-10650  15.5070
51282         Paul Van Hugh     PV-8985 137.1600
51283  Christopher Martinez     CM-2385 391.8600
51286            Ed Braxton     EB-3705 826.2000

[31319 rows x 3 columns]

In [68]:
sales_df_1 = sales_df_1.sample(n=109)

In [69]:
sales_df_1.shape

(109, 3)

In [70]:
sales_df_1.customer_id.nunique()

106

In [71]:
# Final aggregation for selected customers, consider their name, id, and aggregate on the sales column
sales_df = no_purchase_customers.merge(sales[['customer_id', 'customer_name', 'sales']], on='customer_id', how='left')

In [72]:
#sales_df_1.to_csv("final.csv", index=False)

In [73]:
def cust_purc(data):
    # your code here
    
    ### Groupby customer_id & consider latest order_date, name this dataframe as purchase_date. 
    purchase_date = sales.groupby('customer_id')['order_date'].max().reset_index()
    purchase_date.rename(columns={'order_date': 'latest_purchase_date'}, inplace=True)
    
    #### Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days , make use of pd.DateOffset() function.
    purchase_date['yr_back_order_date'] = purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)
    
    ### Offset the latest_purchase_date by 1 more day in order to avoid intersection with latest_order_date.
    purchase_date['latest_purchase_date'] = purchase_date['latest_purchase_date'] + pd.DateOffset(days=1)
    
    ### We have purchase-date data ready with us so now its time to merge it with original sales data
    data = data.merge(purchase_date, on='customer_id', how='left')
    
    #### Check if order_date falls in between 'yr_back_order_date','latest_purchase_date' , if 'yes' flag it as 1 else 0. 
    data['purchase_flag'] = ((data['order_date'] >= data['yr_back_order_date']) & 
                             (data['order_date'] < data['latest_purchase_date'])).astype(int)

    #### Calculate sum of all flag per customer_id by using groupby() function, call this flag total as '# purchases_in_last_yr'
    purchase_in_lst_yr = data.groupby('customer_id')['purchase_flag'].sum().reset_index()
    purchase_in_lst_yr.rename(columns={'purchase_flag':'# purchases_in_last_yr'}, inplace=True)
    
    
    #### Merge the purchase_in_lst_yr with sales data.
    data=data.merge(purchase_in_lst_yr, on='customer_id', how='left')
    
    #### Select the customers who have 0 in '# purchases_in_last_yr' as this will be customers who havent purchased anything in last yr.
    sales_df= data[data['purchase_flag'] == 0]
    
    ### Its time to do final aggregation for selected customers cosnider their name , id & aggregate it on sales column for getting total sales.
    sales_df_1=None
    
    return sales_df_1[['customer_name','customer_id','Total_sales']] ### You can replace sales_df_1 by your dataframe name.

In [74]:
cust_purc(data=sales)

KeyError: 'yr_back_order_date'

In [ ]:
assert type(cust_purc(data=sales))==pd.DataFrame,"Please check the data type of answer , it should be dataframe."
assert cust_purc(data=sales).shape==(109,3),"Please check the data shape."

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell,Kindly ignore this cell.