### Graded Lab 2

Hello ! Welcome to Graded Lab of Module 2.
Here we will be working on an exciting business problem with help of interesting datasets.
Lets look at the problem statement,

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answers to different questions asked by company officials.

In [1]:
# importing libraries
import pandas as pd
import numpy as np

### Reading sales data
sales = pd.read_csv('sales_data.csv')

### Reading customer data
cust = pd.read_csv(r'customers.csv',encoding='iso-8859-1')

### Reading vendor data
vend = pd.read_csv(r'vendors.csv')

sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

In [2]:
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.4f}'.format)

In [ ]:
cust.head()

In [ ]:
vend.head()

*-----------------------------------------------------------------------------*

In [ ]:
df = sales.merge(right=vend, how="left", on="vendor_code")

In [ ]:
df.head()

In [ ]:
df2 = df.merge(right=cust, how="left", on="customer_id")

In [ ]:
df2

In [ ]:
df2["order_date"] = pd.to_datetime(df2['order_date'], format='%d/%m/%Y')

In [ ]:
df2.head()

In [ ]:
df2.info()

*-----------------------------------------------------------------------------*

In order to solve the next questions , we need to combine all the 3 datasets into a single dataframe such that every details of sales dataframe are intact. So here we have written a data processing function.
There are 2 tasks which are to be performed.
1. Merge/ Join all the 3 datasets into a single dataframe such that every details of sales dataframe are intact. (Understand which should be the joining key , type of join , refer .merge() function of pandas)
2. Convert 'order_date' into a datetime column.
**Return output as a dataframe**

In [3]:
#### data_merging & order_date processing , data1 will be sales , data2 will be customer dataset & data3 will be vendor dataset.

def data_process(data1,data2,data3):
    # your code here
    df = data1.merge(right=data3, how="left", on="vendor_code")
    df2 = df.merge(right=data2, how="left", on="customer_id")
    df2["order_date"] = pd.to_datetime(df2['order_date'], format='%d/%m/%Y')
    return df2

In [4]:
sales= data_process(data1=sales.copy(),data2=cust.copy(),data3=vend.copy())

In [5]:
assert sales['order_date'].dtypes=='<M8[ns]' ,'Make sure that you have converted order_date into a datetime format correctly.'
assert sales.shape== (51290,26) ,'Checking size and shape of dataframe after merging is a very important check.'

In [6]:
sales.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit', 'shipping_cost', 'order_priority', 'vendor_code', 'vendor', 'customer_name', 'city', 'state', 'country', 'postal_code', 'segment', 'market', 'region'], dtype='object')

In [7]:
sales.head()

   row_id        order_id order_date   ship_date       ship_mode customer_id       product_id         category sub_category                        product_name    sales  quantity  discount  profit  shipping_cost order_priority vendor_code           vendor   customer_name           city             state   country  postal_code   segment market       region
0       1  MX-2014-143658 2014-10-02  06/10/2014  Standard Class    SC-20575  OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable  13.0800         3    0.0000  4.5600         1.0300         Medium      VE_001          Accenco    Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN  Consumer  LATAM  LATAM-North
1       2  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  FUR-FU-10004015        Furniture  Furnishings                Tenex Clock, Durable 252.1600         8    0.0000 90.7200        13.4500         Medium      VE_002  Ace Corporation  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South
2       3  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  FUR-BO-10002352        Furniture    Bookcases        Ikea 3-Shelf Cabinet, Mobile 193.2800         2    0.0000 54.0800         9.6300         Medium      VE_003             Nero  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South
3       4  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  OFF-BI-10004428  Office Supplies      Binders              Cardinal Binder, Clear  35.4400         4    0.0000  4.9600         1.3700         Medium      VE_004         Rushcorp  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South
4       5  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  OFF-AR-10004594  Office Supplies          Art         Sanford Canvas, Water Color  71.6000         2    0.0000 11.4400         3.7900         Medium      VE_005    Low Tide Corp  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South

In [8]:
sales.shape

(51290, 26)

### Q1. Return the top three subcategories that yield the best percentage profit? Return output as list of sub-categories, list of percentage values (rounded upto 2 decimals).

*-----------------------------------------------------------------------------*

In [ ]:
sales.groupby("sub_category")["profit"].sum().nlargest(n=3)

In [ ]:
sales.groupby("sub_category")["profit"].sum().nlargest(n=3).keys()

In [ ]:
sales["profit"].sum()

In [ ]:
top3 = pd.DataFrame(sales.groupby("sub_category", as_index=False)["profit"].sum())
top3

In [ ]:
top3["percent"] = (top3["profit"] / sales["profit"].sum()) * 100

In [ ]:
top3

In [ ]:
sub_categories = list(top3.sub_category)
sub_categories

*-----------------------------------------------------------------------------*

In [ ]:
def top_3_sales(data):
        
    # Group by sub_category and sum the profits for each sub_category
    sub_category_profit = data.groupby("sub_category")["profit"].sum().reset_index()
    
    # Sort the subcategories by profit in descending order and select the top 3
    top3 = sub_category_profit.nlargest(3, "profit")
    
    # Calculate the percentage profit for each subcategory
    total_profit = sub_category_profit["profit"].sum()
    top3["percent"] = (top3["profit"] / total_profit * 100).round(2)
    
    # Extract the subcategories and their corresponding percentage values
    sub_categories = top3["sub_category"].tolist()
    perc_values = top3["percent"].tolist()
    
    return sub_categories, perc_values

In [ ]:
assert len(top_3_sales(data=sales)[0])==3,"Please include list of top 3 sub-categories only"
assert type(top_3_sales(data=sales)[0])==list,"Output type should be list only."

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q2.	Which city has the highest sales ?

*-----------------------------------------------------------------------------*

In [ ]:
sales.groupby("city", as_index=False)["sales"].sum().sort_values(by="sales", ascending=False)

In [ ]:
df1 = sales.groupby("city", as_index=False)["sales"].sum().sort_values(by="sales", ascending=False)
df1

In [ ]:
df1.iloc[0:1]["city"]

In [ ]:
df1.iloc[0:1]["city"].astype("str")

In [ ]:
df1

*-----------------------------------------------------------------------------*

In [ ]:
def top_city_sales(data):
    
    df1 = data.groupby("city", as_index=False)["sales"].sum().sort_values(by="sales", ascending=False)
    
    return df1['city'].values[0]

In [ ]:
assert type(top_city_sales(data=sales))==str,"Please make sure that output is in string format"

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q.3. In year 2013 , which country has reported lowest profit ? 
**(Calculate order year from order_date column.)**

*-----------------------------------------------------------------------------*

In [ ]:
sales.head()

In [ ]:
sales["year"] = sales["order_date"].dt.year

In [ ]:
sales.head()

In [ ]:
year2013 = sales[sales["year"] == 2013]
year2013

In [ ]:
year2013.describe()

In [ ]:
year2013["profit"].min()

In [ ]:
countrymin = year2013["country"][year2013["profit"] == year2013["profit"].min()]
countrymin

In [ ]:
countrymin.values[0]

*-----------------------------------------------------------------------------*

In [ ]:
def lowest_profit_country(data):
    
    # Filter the data to include only records from the year 2013
    year2013_data = data[data["order_date"].dt.year == 2013]
    
    # Find the row with the lowest profit in the year 2013
    lowest_profit_row = year2013_data[year2013_data["profit"] == year2013_data["profit"].min()]
    
    # Extract the country from the row with the lowest profit
    country_with_lowest_profit = lowest_profit_row["country"].values[0]
    
    return country_with_lowest_profit

In [ ]:
assert type(lowest_profit_country(data=sales))==str,"Please make sure that output is in string format"

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q.4. For which market segment we could observe 2nd highest discount ?

*-----------------------------------------------------------------------------*

In [ ]:
sales.head()

In [ ]:
market_segment_discount = sales.groupby("market")["discount"].count()
market_segment_discount

In [ ]:
# Group the data by "market" and calculate the total discount for each segment
market_segment_discount = sales.groupby("market")["discount"].sum().reset_index()
market_segment_discount

In [ ]:
# Sort the segments by discount in descending order
sorted_segments = market_segment_discount.sort_values(by="discount", ascending=False)
sorted_segments

In [ ]:
# Select the second row (assuming at least two different segments exist)
second_highest_discount_segment = sorted_segments.iloc[1]["market"]
second_highest_discount_segment

*-----------------------------------------------------------------------------*

In [ ]:
def second_highest_discount_market(data):
    market_segment_discount = data.groupby("market")["discount"].sum().reset_index()
    sorted_segments = market_segment_discount.sort_values(by="discount", ascending=False)
    second_highest_discount_segment = sorted_segments.iloc[1]["market"]
    
    return second_highest_discount_segment

In [ ]:
assert type(second_highest_discount_market(data=sales))==str,"Please make sure that output is in string format"

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q5.	Which product was sold the most (in terms of quantity) within the subcategory ‘Copiers’ and how many units were sold? Return output as a tuple (product name, quantities sold)

*-----------------------------------------------------------------------------*

In [9]:
sales.head()

   row_id        order_id order_date   ship_date       ship_mode customer_id       product_id         category sub_category                        product_name    sales  quantity  discount  profit  shipping_cost order_priority vendor_code           vendor   customer_name           city             state   country  postal_code   segment market       region
0       1  MX-2014-143658 2014-10-02  06/10/2014  Standard Class    SC-20575  OFF-LA-10002782  Office Supplies       Labels  Hon File Folder Labels, Adjustable  13.0800         3    0.0000  4.5600         1.0300         Medium      VE_001          Accenco    Sonia Cooley    Mexico City  Distrito Federal    Mexico          NaN  Consumer  LATAM  LATAM-North
1       2  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  FUR-FU-10004015        Furniture  Furnishings                Tenex Clock, Durable 252.1600         8    0.0000 90.7200        13.4500         Medium      VE_002  Ace Corporation  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South
2       3  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  FUR-BO-10002352        Furniture    Bookcases        Ikea 3-Shelf Cabinet, Mobile 193.2800         2    0.0000 54.0800         9.6300         Medium      VE_003             Nero  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South
3       4  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  OFF-BI-10004428  Office Supplies      Binders              Cardinal Binder, Clear  35.4400         4    0.0000  4.9600         1.3700         Medium      VE_004         Rushcorp  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South
4       5  MX-2012-155047 2012-10-15  20/10/2012  Standard Class    KW-16570  OFF-AR-10004594  Office Supplies          Art         Sanford Canvas, Water Color  71.6000         2    0.0000 11.4400         3.7900         Medium      VE_005    Low Tide Corp  Kelly Williams  Dos Quebradas         Risaralda  Colombia          NaN  Consumer  LATAM  LATAM-South

In [10]:
copier = sales[sales["sub_category"] == "Copiers"]
copier

       row_id        order_id order_date   ship_date       ship_mode customer_id        product_id    category sub_category                   product_name    sales  quantity  discount    profit  shipping_cost order_priority vendor_code            vendor     customer_name           city              state             country  postal_code      segment  market         region
25         26  MX-2014-120607 2014-06-18  25/06/2014  Standard Class    SP-20650   TEC-CO-10003541  Technology      Copiers         HP Copy Machine, Color 326.1863         2    0.0020   64.7063        16.7800         Medium      VE_011    Energy Systems  Stephanie Phelps       Coyoacán   Distrito Federal              Mexico          NaN    Corporate   LATAM    LATAM-North
32         33  US-2013-167129 2013-05-24  31/05/2013  Standard Class    SC-20050   TEC-CO-10004904  Technology      Copiers     Sharp Fax Machine, Digital 941.7782         8    0.4020 -601.7418        80.2800         Medium      VE_008         Fireworth  Sample Company A    Tegucigalpa  Francisco Morazán            Honduras          NaN  Home Office   LATAM  LATAM-Central
47         48  US-2012-151372 2012-04-27  02/05/2012  Standard Class    AS-10240   TEC-CO-10001756  Technology      Copiers   Canon Personal Copier, Color 153.4075         2    0.2020   36.1275        14.2500         Medium      VE_008         Fireworth      Alan Shonely  Santo Domingo      Santo Domingo  Dominican Republic          NaN     Consumer   LATAM      Caribbean
51         52  US-2011-150987 2011-04-02  06/04/2011    Second Class    DW-13480   TEC-CO-10003142  Technology      Copiers  Hewlett Fax and Copier, Laser 230.6725         3    0.4020  -85.6475         9.8100         Medium      VE_011    Energy Systems     Dianna Wilson    Tegucigalpa  Francisco Morazán            Honduras          NaN  Home Office   LATAM  LATAM-Central
52         53  US-2011-150987 2011-04-02  06/04/2011    Second Class    DW-13480   TEC-CO-10001756  Technology      Copiers   Canon Personal Copier, Color 172.4393         3    0.4020   -3.4807         5.5700         Medium      VE_015      Phantomnnite     Dianna Wilson    Tegucigalpa  Francisco Morazán            Honduras          NaN  Home Office   LATAM  LATAM-Central
...       ...             ...        ...         ...             ...         ...               ...         ...          ...                            ...      ...       ...       ...       ...            ...            ...         ...               ...               ...            ...                ...                 ...          ...          ...     ...            ...
51196   51197    NI-2011-3090 2011-04-08  10/04/2011    Second Class     JH-5910  TEC-SHA-10001413  Technology      Copiers   Sharp Personal Copier, Color 218.5920         6    0.7000 -313.4880         8.7300         Medium      VE_064  Chief Industries   Jonathan Howell          L'viv              L'viv             Ukraine          NaN     Consumer    EMEA           EMEA
51216   51217    GG-2014-4090 2014-08-11  16/08/2014  Standard Class    SJ-10215  TEC-HEW-10004833  Technology      Copiers             Hewlett Ink, Color 600.4800         4    0.0000   84.0000        44.9200         Medium      VE_052          Trekords      Sarah Jordon        Mallawi           Al Minya               Egypt          NaN     Consumer  Africa         Africa
51251   51252    IZ-2012-3720 2012-10-17  21/10/2012  Standard Class     PB-9150  TEC-SHA-10001413  Technology      Copiers   Sharp Personal Copier, Color 121.4400         1    0.0000   32.7600         5.2700         Medium      VE_052          Trekords      Philip Brown          Lagos              Lagos             Nigeria          NaN     Consumer  Africa         Africa
51272   51273    TU-2012-1600 2012-02-15  19/02/2012  Standard Class      AH-195  TEC-HEW-10004522  Technology      Copiers    Hewlett Copy Machine, Color 636.2640         6    0.6000 -413.6760        41.7400         Medium      VE_052          Trekords       Alan Haines       Waterloo            Ontario              Canada          NaN    Corporate  Canada         Canada
51273   51274    TU-2012-1600 2012-02-15  19/02/2012  Standard Class      AH-195  TEC-BRO-10000381  Technology      Copiers  Brother Fax and Copier, Laser 153.1920         2    0.6000 -134.0880         7.9600         Medium      VE_052          Trekords       Alan Haines       Waterloo            Ontario              Canada          NaN    Corporate  Canada         Canada

[2223 rows x 26 columns]

In [12]:
copier.isna().sum()

row_id               0
order_id             0
order_date           0
ship_date            0
ship_mode           82
customer_id          0
product_id           0
category             0
sub_category         0
product_name        61
sales                0
quantity             0
discount             0
profit               0
shipping_cost        0
order_priority      47
vendor_code          0
vendor               0
customer_name        0
city                 0
state                0
country              0
postal_code       2223
segment              0
market               0
region               0
dtype: int64

In [15]:
copier["product_name"].value_counts()

Hewlett Copy Machine, Color           44
Brother Copy Machine, Color           40
HP Copy Machine, Color                36
Sharp Copy Machine, Color             32
Canon Fax Machine, Digital            25
                                      ..
Canon PC1060 Personal Laser Copier     4
Canon PC1080F Personal Copier          4
Sharp AL-1530CS Digital Copier         4
Canon PC940 Copier                     3
Canon Image Class D660 Copier          2
Name: product_name, Length: 129, dtype: int64

In [16]:
most_sold_product = str(copier["product_name"].value_counts().idxmax())
most_sold_product

'Hewlett Copy Machine, Color'

In [17]:
quantity_sold = np.int64(copier["product_name"].value_counts().max())
quantity_sold

44

*-----------------------------------------------------------------------------*

In [ ]:
def copier_sales(data):
    copier = data[data["sub_category"] == "Copiers"]
    
    # Find the product with the maximum quantity sold within the "Copiers" subcategory
    most_sold_product = str(copier["product_name"].value_counts().idxmax())
    quantity_sold = np.int64(copier["product_name"].value_counts().max())
    
    return most_sold_product, quantity_sold

In [ ]:
copier_sales(data=sales)[0]

In [ ]:
copier_sales(data=sales)[1]

In [ ]:
assert type(copier_sales(data=sales)[0])==str,"Please check the data type of answer , product name should be string."
assert type(copier_sales(data=sales)[1])==np.int64,"Please check the data type of answer , quantity sold should be an integer."

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q6.	In 2014, which customer (identify by name) contributed to the highest total profit and how much was it (Round it to 4 digits) ? Return output as a tuple (customer name, profit)

*-----------------------------------------------------------------------------*

In [ ]:
sales.head()

In [ ]:
sales.dtypes

In [ ]:
sales["year"] = sales["order_date"].dt.year

In [ ]:
sales.head()

In [ ]:
year2014 = sales[sales["year"] == 2014]

In [ ]:
year2014.head()

In [ ]:
ans = pd.DataFrame(year2014.groupby("customer_name", as_index=False)["profit"].sum().nlargest(1, "profit"))
ans

In [ ]:
ans.iloc[:, 0]

In [ ]:
ans["customer_name"].item()

In [ ]:
ans["profit"].item()

In [ ]:
type(ans["profit"].item())

In [ ]:
ans.iloc[:, 1]

In [ ]:
ans.iloc[:, 0] , ans.iloc[:, 1]

*-----------------------------------------------------------------------------*

In [ ]:
def cust_prof(data):      
    ### Extract order year from order date. You can use dt.year functions
    # your code here
    
    data['order_year'] = data["order_date"].dt.year
    
    ### Filter data for yr 2014
    sales_yr= data[data["order_year"] == 2014]
    
    
    #### Aggregate the profits wrto customer name , you can make use of .groupby() function in pandas
    cust_profit = sales_yr.groupby('customer_name')['profit'].sum().reset_index()
    #print(cust_profit) 
    ### Round the profit column to 4 decimal numbers  ,You can make use of round() function for rounding off 
    cust_profit['profit'] = cust_profit['profit'].round(4)
    #print(cust_profit['profit'])
    ## sort the dataframe with decreasing order of profits.
    highest_profit_customer = cust_profit.nlargest(1, 'profit')
    #print(highest_profit_customer)
    ### Store customer_name with highest profit in variables below. 
    customer_name = highest_profit_customer['customer_name'].values[0]
    customer_profit = highest_profit_customer['profit'].values[0]
    
    
    return customer_name,customer_profit

In [ ]:
assert type(cust_prof(data=sales)[0])==str,"Please check the data type of answer , customer name should be string."
assert type(cust_prof(data=sales)[1])==np.float64,"Please check the data type of answer , profit recorded should be float."

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q7.	How much do the different categories of items contribute to total sales? 
**Return output dataframe consisting 2 columns 'category' (product category),'sales_perc' (sales % values).**

**Make sure to round off sales percentage values to 2 decimals.**

*-----------------------------------------------------------------------------*

In [ ]:
sales.head()

In [ ]:
# Group the data by 'category' and calculate the sum of sales for each category
category_sales = sales.groupby('category')['sales'].sum().reset_index()
category_sales

In [ ]:
# Calculate the total sales across all categories
total_sales = category_sales['sales'].sum()
total_sales

In [ ]:
# Calculate the sales percentage for each category and round to 2 decimals
category_sales['sales_perc'] = (category_sales['sales'] / total_sales * 100).round(2)
category_sales

In [ ]:
category_sales.set_index(keys="category", inplace=True)

In [ ]:
category_sales

*-----------------------------------------------------------------------------*

In [ ]:
def cat_sales_contri(data):
    # Group the data by 'category' and calculate the sum of sales for each category
    category_sales = data.groupby('category')['sales'].sum().reset_index()
    
    # Calculate the total sales across all categories
    total_sales = category_sales['sales'].sum()
    
    # Calculate the sales percentage for each category and round to 2 decimals
    category_sales['sales_perc'] = (category_sales['sales'] / total_sales * 100).round(2)
    
    category_sales.set_index(keys="category", inplace=True)
    
    return category_sales

In [ ]:
assert type(cat_sales_contri(data=sales))==pd.DataFrame,"Please check the data type of answer , it should be a dataframe."
assert cat_sales_contri(data=sales).shape==(3,2),"Please check the data shape, total row count should be equal to number of unique categories."

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

### Q8. Can we identify the customers who have not made any purchases in the last 12 months, so that we can send them some promotional material to encourage them to come back and shop with us? 

**Return the output as a data frame with three columns: 'customer_name','customer_id' and 'Total_sales' (total sales amount that customer has accrued). Make sure that you are returning the mentioned column names in same sequence & as same spelled.**

**Hint:-**

You might think of working on this logic

1. Calculate latest order date for every customer
2. Calculate yr back order date by offsetting latest date by 365 days (you can make use of pd.DateOffset(days=) function)
3. Check if order date is in between yr_back_order date and latest_order_date, create binary flag.
4. For every customer,you will get multiple order dates which are before yr old order date. Aggregate the flag at user level.
5. Check for a customer if all the flags indicating that order date are before 1 yr then mark that customer as one who hasnt made any transations in last yr.
6. Take out its name by joining with customer data and aggregate it for finding total sales.

In [ ]:
sales.info()

In [ ]:
sales.shape

### Using CGPT

In [ ]:
# Group by customer_id and consider the latest order_date
purchase_date = sales.groupby('customer_id')['order_date'].max().reset_index()
purchase_date.rename(columns={'order_date': 'latest_purchase_date'}, inplace=True)
purchase_date

In [ ]:
# Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days
purchase_date['yr_back_order_date'] = purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)
purchase_date

In [ ]:
# Offset the latest_purchase_date by 1 more day to avoid intersection with latest_order_date
purchase_date['latest_purchase_date'] =  purchase_date['latest_purchase_date'] + pd.DateOffset(days=1)
purchase_date

In [ ]:
# Merge the purchase_date data with the original sales data
sales = sales.merge(purchase_date, on='customer_id', how='left')
sales.head()

In [ ]:
# Check if the order_date falls between 'yr_back_order_date' and 'latest_purchase_date', if yes, flag it as 1, else 0
sales['purchase_flag'] = ((sales['order_date'] >= sales['yr_back_order_date']) & (sales['order_date'] <= sales['latest_purchase_date'])).astype(int)

sales.head()

In [ ]:
# Calculate the sum of all flags per customer_id
purchase_in_last_yr = sales.groupby('customer_id')['purchase_flag'].sum().reset_index()
purchase_in_last_yr.rename(columns={'purchase_flag': 'purchases_in_last_yr'}, inplace=True)
purchase_in_last_yr.head()

In [ ]:
(purchase_in_last_yr["purchases_in_last_yr"] == 0).sum()

In [ ]:
# Merge the purchase_in_last_yr with sales data
sales = sales.merge(purchase_in_last_yr, on='customer_id', how='left')

sales.head()

In [ ]:
# Select the customers who have 0 in 'purchases_in_last_yr', as they haven't purchased anything in the last year
sales_df = sales[sales['purchase_flag'] == 0]
sales_df.head()

In [ ]:
sales_df_1= sales_df.groupby(['customer_name', 'customer_id'])['sales'].sum().reset_index()
sales_df_1.head()

In [ ]:
sales_df_1.rename(columns={'sales': 'Total_sales'}, inplace=True)
sales_df_1.head()

In [ ]:
sales_df_1[['customer_name','customer_id','Total_sales']]

In [ ]:
def cust_purc(data):
    # your code here
    
    ### Groupby customer_id & consider latest order_date, name this dataframe as purchase_date. 
    purchase_date=data.groupby('customer_id')['order_date'].max().reset_index()
    purchase_date.rename(columns={'order_date':'latest_purchase_date'}, inplace=True)
    
    #### Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days , make use of pd.DateOffset() function.
    purchase_date['yr_back_order_date']= purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)
    
    ### Offset the latest_purchase_date by 1 more day in order to avoid intersection with latest_order_date.
    purchase_date['latest_purchase_date'] += pd.DateOffset(days=1)
    
    ### We have purchase-date data ready with us so now its time to merge it with original sales data
    data=data.merge(purchase_date, on='customer_id', how='left')
    
    #### Check if order_date falls in between 'yr_back_order_date','latest_purchase_date' , if 'yes' flag it as 1 else 0. 
    data['purchase_flag'] = ((data['order_date'] >= data['yr_back_order_date']) & (data['order_date'] < data['latest_purchase_date'])).astype(int)

    #### Calculate sum of all flag per customer_id by using groupby() function, call this flag total as '# purchases_in_last_yr'
    purchase_in_last_yr=data.groupby('customer_id')['purchase_flag'].sum().reset_index()
    purchase_in_last_yr.rename(columns={'purchase_flag':'# purchases_in_last_yr'},inplace=True)
    
    
    #### Merge the purchase_in_lst_yr with sales data.
    data=data.merge(purchase_in_last_yr, on='customer_id', how='left')
    
    #### Select the customers who have 0 in '# purchases_in_last_yr' as this will be customers who havent purchased anything in last yr.
    sales_df= data[data['# purchases_in_last_yr'] == 0]
    
    ### Its time to do final aggregation for selected customers cosnider their name , id & aggregate it on sales column for getting total sales.
    sales_df_1 = sales_df.groupby(['customer_name', 'customer_id'])['sales'].sum().reset_index()
    sales_df_1.rename(columns={'sales': 'Total_sales'}, inplace=True)
    return sales_df_1[['customer_name','customer_id','Total_sales']] ### You can replace sales_df_1 by your dataframe name.

### Using Bing

In [ ]:
sales.head()

In [ ]:
# calculate latest order date for every customer
latest_order_date = sales.groupby('customer_id')['order_date'].max().reset_index()
latest_order_date

In [ ]:
# calculate year back order date by offsetting latest date by 365 days
year_back_order_date = latest_order_date.copy()
year_back_order_date['order_date'] = year_back_order_date['order_date'] - pd.DateOffset(years=1)
year_back_order_date

In [ ]:
# check if order date is in between year_back_order date and latest_order_date, create binary flag
sales = pd.merge(sales, latest_order_date, on = ['customer_id'], how='left', suffixes=('_original', '_latest'))
sales.head()

In [ ]:
sales = pd.merge(sales, year_back_order_date, on=['customer_id'], how='left', suffixes=('_original', '_back'))
sales.head()

In [ ]:
sales.columns

In [ ]:
sales['flag'] = np.where((sales['order_date_original'] >= sales['order_date']) & (sales['order_date_original'] <= sales['order_date_latest']), 1, 0)

In [ ]:
sales.head()

In [ ]:
# aggregate the flag at user level
sales_agg = sales.groupby('customer_id')['flag'].sum().reset_index()
sales_agg

In [ ]:
# check for a customer if all the flags indicating that order date are before 1 yr then mark that customer as one who hasn't made any transactions in last yr
sales_agg['no_purchase_last_year'] = np.where(sales_agg['flag'] == 0, 1, 0)
sales_agg

In [ ]:
# take out its name by joining with customer data and aggregate it for finding total sales
sales_agg = pd.merge(sales_agg, sales[['customer_id', 'customer_name', 'sales']].drop_duplicates(), on='customer_id', how='left')
sales_agg

In [ ]:
sales_agg

In [ ]:
sales_agg = sales_agg.groupby(['customer_id', 'customer_name'])['sales'].sum().reset_index()
sales_agg

In [ ]:
sales_agg = sales_agg[sales_agg['no_purchase_last_year'] == 1][['customer_name', 'customer_id', 'sales']]

In [ ]:
def cust_purc(data):
    
    # calculate latest order date for every customer
    latest_order_date = data.groupby('customer_id')['order_date'].max().reset_index()

    # calculate year back order date by offsetting latest date by 365 days
    year_back_order_date = latest_order_date.copy()
    year_back_order_date['order_date'] = year_back_order_date['order_date'] - pd.DateOffset(years=1)
    
    # check if order date is in between year_back_order date and latest_order_date, create binary flag
    data = pd.merge(data, latest_order_date, on=['customer_id', 'order_date'], how='left')
    data = pd.merge(data, year_back_order_date, on=['customer_id'], how='left')
    data['flag'] = np.where((data['order_date'] >= data['order_date_y']) & (data['order_date'] <= data['order_date_x']), 1, 0)

### Using Bard

In [ ]:
# Groupby customer_id & consider latest order_date, name this dataframe as purchase_date
purchase_date = sales.groupby('customer_id')['order_date'].max().reset_index().rename(columns={'order_date': 'latest_purchase_date'})
purchase_date

In [ ]:
# Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days, make use of pd.DateOffset() function
purchase_date['yr_back_order_date'] = purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)
purchase_date

In [ ]:
def cust_purc(data):
    # Groupby customer_id & consider latest order_date, name this dataframe as purchase_date
    purchase_date = data.groupby('customer_id')['order_date'].max().reset_index().rename(columns={'order_date': 'latest_purchase_date'})

    # Calculate 'yr_back_order_date' by offsetting the latest_purchase_date by 365 days, make use of pd.DateOffset() function
    purchase_date['yr_back_order_date'] = purchase_date['latest_purchase_date'] - pd.DateOffset(days=365)

    # Offset the latest_purchase_date by 1 more day in order to avoid intersection with latest_order_date
    purchase_date['latest_purchase_date'] = purchase_date['latest_purchase_date'] + pd.DateOffset(days=1)

    # Merge the purchase-date data with original sales data
    data = data.merge(purchase_date, on='customer_id', how='left')

    # Check if order_date falls in between 'yr_back_order_date','latest_purchase_date' , if 'yes' flag it as 1 else 0
    data['purchase_flag'] = data['order_date'].between(purchase_date['yr_back_order_date'], purchase_date['latest_purchase_date']).map({True: 1, False: 0})

    # Calculate sum of all flag per customer_id by using groupby() function, call this flag total as '# purchases_in_last_yr'
    purchase_in_lst_yr = data.groupby('customer_id')['purchase_flag'].sum().reset_index().rename(columns={'purchase_flag': '# purchases_in_last_yr'})

    # Merge the purchase_in_lst_yr with sales data
    data = data.merge(purchase_in_lst_yr, on='customer_id', how='left')

    # Select the customers who have 0 in '# purchases_in_last_yr' as this will be customers who havent purchased anything in last yr
    sales_df = data[data['# purchases_in_last_yr'] == 0]

    # Do final aggregation for selected customers cosnider their name , id & aggregate it on sales column for getting total sales
    sales_df_1 = sales_df.groupby(['customer_name', 'customer_id'])['sales'].sum().reset_index()

    return sales_df_1[['customer_name', 'customer_id', 'Total_sales']]

In [ ]:
assert type(cust_purc(data=sales))==pd.DataFrame,"Please check the data type of answer , it should be dataframe."
assert cust_purc(data=sales).shape==(109,3),"Please check the data shape."

In [ ]:
# autograder cells , please do not alter/ delete /edit this cell

# Total Grade Obtained =  65/100 points earned