# Lab for module 2 lesson 1

Topics covered:
- reading data from a CSV file
- understanding the structure of the data set
- identifying the presence and extent of missing data

**Problem Statement & Data Description**

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answer to different questions asked by company officials.

### Read the retail sales data from the file 'sales_data.csv' and understand its structure

In [1]:
# reading the data & library
import pandas as pd
import warnings
# Use the warning filter context manager to temporarily suppress warnings
warnings.filterwarnings("ignore")

sales = pd.read_csv('sales_data.csv')

### Q1. How many rows and columns are in this data set?

In [2]:
# write your code here

### Q2. What are the different columns, or features, or variables, in this data set?

In [3]:
# write your code here

### Q3. What is the shipping mode and product category of the first record in the data set?

In [4]:
# write your code here

### Q4. How many variables are of type 'object', of type 'int64' and of type 'float64'?

In [5]:
# write your code here

## Understand whether there is missing data, and if so, how much

### Q5. Identify which columns have missing data, and how much

In [6]:
# write your code here

### Q6. As a first attempt at dealing with missing data, remove all rows which have missing values (regardless of which column the missing values are in). How many rows are left after this operation?

In [7]:
# write your code here

## Solutions

In [8]:
# Q1 - No of rows and columns in the dataset
print(f'No of rows :- {sales.shape[0]}')
print(f'No of columns :- {sales.shape[1]}')

No of rows :- 51290
No of columns :- 17

In [9]:
# Q2 - Different columns in data set
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          51290 non-null  int64
 1   order_id        51290 non-null  object
 2   order_date      51290 non-null  object
 3   ship_date       51290 non-null  object
 4   ship_mode       49720 non-null  object
 5   customer_id     51290 non-null  object
 6   product_id      51290 non-null  object
 7   category        51290 non-null  object
 8   sub_category    51290 non-null  object
 9   product_name    49993 non-null  object
 10  sales           51290 non-null  float64
 11  quantity        51290 non-null  int64
 12  discount        51290 non-null  float64
 13  profit          51290 non-null  float64
 14  shipping_cost   51290 non-null  float64
 15  order_priority  50244 non-null  object
 16  vendor_code     51290 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.7+ MB

In [10]:
# Q3 - details from the first record
### First record can be accessed with
print(sales[0:1])

### Shipping mode
print(f"Shipping mode is :- {sales['ship_mode'][0]}")

### Product Category
print(f"Product Category is :- {sales['category'][0]}")

   row_id        order_id  order_date   ship_date       ship_mode customer_id  \
0       1  MX-2014-143658  02/10/2014  06/10/2014  Standard Class    SC-20575

        product_id         category sub_category  \
0  OFF-LA-10002782  Office Supplies       Labels

                         product_name  sales  quantity  discount  profit  \
0  Hon File Folder Labels, Adjustable  13.08         3       0.0    4.56

   shipping_cost order_priority vendor_code
0           1.03         Medium      VE_001
Shipping mode is :- Standard Class
Product Category is :- Office Supplies

In [11]:
# Q4 - data types of the variables

### Integer columns
int64_columns =sales.select_dtypes(include=['int64']).columns.tolist()
print(f'Int64 columns are: {int64_columns}')

### FLoat columns
float64_columns = sales.select_dtypes(include=['float']).columns.tolist()
print(f'Float64 columns are: {float64_columns}')

### object (string) columns
object_columns = sales.select_dtypes(include=['O']).columns.tolist()
print(f'Object type columns are: {object_columns}')

Int64 columns are: ['row_id', 'quantity']
Float64 columns are: ['sales', 'discount', 'profit', 'shipping_cost']
Object type columns are: ['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority', 'vendor_code']

In [12]:
# Q5 - presence and extent of missing data
sales.isna().sum()

row_id               0
order_id             0
order_date           0
ship_date            0
ship_mode         1570
customer_id          0
product_id           0
category             0
sub_category         0
product_name      1297
sales                0
quantity             0
discount             0
profit               0
shipping_cost        0
order_priority    1046
vendor_code          0
dtype: int64

In [13]:
# Q6 - drop rows with missing values
sales_clean = sales.dropna()
sales_clean.shape

(47474, 17)