# Lab for module 2 lesson 4

Topics covered
- Replacing values in a column
- Checking for specific values in the data
- Finding unique values
- Grouping (aggregating) data and reporting various summaries
- Creating pivot tables

**Problem Statement & Data Description**

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answer to different questions asked by company officials.

### Read the sales data set (sales_data.csv)

In [1]:
# reading the data
import pandas as pd
import warnings
# Use the warning filter context manager to temporarily suppress warnings
warnings.filterwarnings("ignore")

sales = pd.read_csv('sales_data.csv')

In [2]:
sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

### Q1. Replace the hyphens (-) in *order_id* with underscores (_)

In [3]:
# write your code here

### Q2. What are the different values for *category*? Is 'Electronics' one of them?

In [4]:
# write your code here

### Q3. What proportion of observations belongs to each *category*?

In [5]:
# write your code here

### Q4. Report the total profit by *category*

In [6]:
# write your code here

### Q5. What are the top three subcategories in terms of total sales?

In [7]:
# write your code here

### Q6. Did any subcategory of products record an overall loss (negative profit) across the entire data set?

In [8]:
# write your code here

### Q7. In each category, which subcategory contributes the most to total sales? Which subcategory is the most profitable? Which subcategories have contributed to more than $500,000 in sales?

In [9]:
# write your code here

## Solutions

In [10]:
# Q1 - replace hyphens with underscores
sales['order_id'].str.replace("-","_")

0        MX_2014_143658
1        MX_2012_155047
2        MX_2012_155047
3        MX_2012_155047
4        MX_2012_155047
              ...
51285      HU_2012_7730
51286      HU_2012_7730
51287      HU_2012_7730
51288      HU_2012_7730
51289      IZ_2011_5750
Name: order_id, Length: 51290, dtype: object

In [11]:
# Q2 - is 'Electronics' a category?
print(sales['category'].unique())
# Continuing Q2 - is 'Electronics' a category?
'Electronics' in sales['category'].unique()

['Office Supplies' 'Furniture' 'Technology']

False

In [12]:
# Q3 - proportion of each category
sales['category'].value_counts(normalize=True)

Office Supplies    0.609729
Technology         0.197719
Furniture          0.192552
Name: category, dtype: float64

In [13]:
# Q4 - total profit by category
sales.groupby('category')['profit'].sum()

category
Furniture          285204.72380
Office Supplies    518473.83430
Technology         663778.73318
Name: profit, dtype: float64

In [14]:
# Q5 - top three subcategories for sales
data=pd.DataFrame(sales.groupby('sub_category')['sales'].sum())
data.sort_values('sales',ascending=False)[0:3]

                     sales
sub_category
Phones        1.706824e+06
Copiers       1.509436e+06
Chairs        1.501682e+06

In [15]:
print(f"Top 3 subcategories are :- {data.sort_values('sales',ascending=False)[0:3].index.tolist()}")

Top 3 subcategories are :- ['Phones', 'Copiers', 'Chairs']

In [16]:
# Q6 - subcategories recording overall loss
data=pd.DataFrame(sales.groupby('sub_category')['profit'].sum())
data.head()

                   profit
sub_category
Accessories   129626.3062
Appliances    141680.5894
Art            57953.9109
Binders        72449.8460
Bookcases     161924.4195

In [17]:
# Continuing Q6 - subcategories recording overall loss
print(f"subcategories which recorded negative pofit are: {data[data['profit']<0].index.tolist()}")

subcategories which recorded negative pofit are: ['Tables']

In [18]:
# Q7 - subcategory with highest sales within each category; most profitable; over $500K in sales

data=sales.groupby(['category','sub_category'])['sales'].sum().reset_index()
#data.sort_values(['category','sales'],ascending=[0,0],inplace=True)

# Calculate the profit rank within each category and sub-category group
data['Sales_Rank'] = data.groupby(['category'])['sales'].rank(ascending=False)

data[data['Sales_Rank']==1]

           category sub_category         sales  Sales_Rank
1         Furniture       Chairs  1.501682e+06         1.0
11  Office Supplies      Storage  1.127086e+06         1.0
16       Technology       Phones  1.706824e+06         1.0

In [19]:
#Q.7 over $500K in sales
data[data['sales']>500000]

           category sub_category         sales  Sales_Rank
0         Furniture    Bookcases  1.466572e+06         2.0
1         Furniture       Chairs  1.501682e+06         1.0
3         Furniture       Tables  7.570419e+05         3.0
4   Office Supplies   Appliances  1.011064e+06         2.0
11  Office Supplies      Storage  1.127086e+06         1.0
13       Technology  Accessories  7.492370e+05         4.0
14       Technology      Copiers  1.509436e+06         2.0
15       Technology     Machines  7.790601e+05         3.0
16       Technology       Phones  1.706824e+06         1.0

In [20]:
# Q.7  most profitable subcategory within each category
data=sales.groupby(['category','sub_category'])['profit'].sum().reset_index()

# Calculate the profit rank within each category and sub-category group
data['Profit_Rank'] = data.groupby(['category'])['profit'].rank(ascending=False)

data[data['Profit_Rank']==1]

           category sub_category        profit  Profit_Rank
0         Furniture    Bookcases  161924.41950          1.0
4   Office Supplies   Appliances  141680.58940          1.0
14       Technology      Copiers  258567.54818          1.0