# Lab for module 2 lesson 3

Topics covered:
- understanding basic statistical features of the data
- creating subsets of the data based on logical conditions

**Problem Statement & Data Description**

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answer to different questions asked by company officials.

### Read the retail sales data (sales_data.csv)

In [1]:
# reading the data & library
import pandas as pd
import warnings
# Use the warning filter context manager to temporarily suppress warnings
warnings.filterwarnings("ignore")

sales = pd.read_csv('sales_data.csv')
sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

### Q1. What is the mean value of sales, the median value of shipping_cost and the maximum value of profit?

In [2]:
# write your code here

### Q2. What is the most common value of *ship_mode*? How many different customers are represented in this data set?

In [3]:
# write your code here

## Creating subsets that satisfy specific criteria

### Q3. How many transactions resulted in a loss (i.e. profit < 0)? What proportion is this of the total number?

In [4]:
# write your code here

### Q4. What percent of all transactions have the ship_mode 'Standard Class' and belong to the category 'Furniture'

In [5]:
# write your code here

## Solutions

In [6]:
# Q1 - some basic statistics of the numeric features
sales.describe()

,row_id,sales,quantity,discount,profit,shipping_cost
count,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [7]:
# Q1
# Calculate the mean value of sales
mean_sales = sales['sales'].mean()

# Calculate the median value of shipping_cost
median_shipping_cost = sales['shipping_cost'].median()

# Calculate the maximum value of profit
max_profit = sales['profit'].max()

# Print the results
print(f"Mean Sales: {mean_sales}")
print(f"Median Shipping Cost: {median_shipping_cost}")
print(f"Maximum Profit: {max_profit}")

Mean Sales: 246.49058120258067
Median Shipping Cost: 7.79
Maximum Profit: 8399.976

In [8]:
# Q2
### In order to get highest frequency shipping_mode , we will use value_counts()
print(sales['ship_mode'].value_counts()[0])
###  Number of unique customers in data
print(sales['customer_id'].nunique())

29842
1590

In [9]:
# Q3 - subset of records with negative profits (i.e. loss)
sales_no_loss = sales[sales['profit'] < 0]
sales_no_loss.shape

(12544, 17)

In [10]:
# Q3 continued
100 * sales_no_loss.shape[0]/sales.shape[0]

24.457009163579645

In [11]:
# Q4 - subset of records that have ship mode 'Standard Class' and category 'Furtniture'
sales_subset = sales[(sales['ship_mode'] == 'Standard Class') & (sales['category'] == 'Furniture')]
round(100*sales_subset.shape[0]/sales.shape[0], 2)

11.31